<div class="container">
    <app-cargando [tamanio]="'col-xl-7 col-lg-8 col-md-10 col-sm-12'" *ngIf="cargando"></app-cargando>
    <div *ngIf="cargarformulario" class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Datos Personales</h3>
                    <form  class="form p-t-20" 
                            [formGroup]="perfilForm"
                            (ngSubmit)="guardar()">
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Nombres</label>
                                    <input [class.is-invalid]="campoNoValido('nombre')" formControlName="nombre" class="form-control" type="text" placeholder="Nombres">
                                    <small *ngIf="campoNoValido('nombre')" class="form-control-feedback text-danger">El nombre esobligatorio</small> 

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Apellidos</label>
                                    <input [class.is-invalid]="campoNoValido('apellidos')" formControlName="apellidos" class="form-control" type="text"  placeholder="Apellidos">  
                                    <small *ngIf="campoNoValido('apellidos')" class="form-control-feedback text-danger">Los apellidos son obligatorios</small> 
                           
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Cedula</label>
                                    <input [class.is-invalid]="campoNoValido('cedula')" formControlName="cedula" type="text" class="form-control" placeholder="Cedula">
                                    <small *ngIf="campoNoValido('cedula')" class="form-control-feedback text-danger">La cedula de identidad es obligatoria</small> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Num Complemento Ci:</label>
                                    <input [class.is-invalid]="campoNoValido('num_complemento_ci')" formControlName="num_complemento_ci" type="text" class="form-control" placeholder="Complemento CI">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Telefono</label>
                                    <input [class.is-invalid]="campoNoValido('telefono')" formControlName="telefono" type="number" class="form-control" placeholder="Telefono">    
                                    <small *ngIf="campoNoValido('telefono')" class="form-control-feedback text-danger">El telefono es obligatorio</small>            
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Genero</label>
                                    <select [class.is-invalid]="campoNoValido('genero')" formControlName="genero" class="form-control custom-select">
                                        <option value="M">Masculino</option>
                                        <option value="F">Fememino</option>
                                    </select>
                                    <small *ngIf="campoNoValido('genero')" class="form-control-feedback text-danger">Seleccione una genero</small> 
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Direccion</label>
                                    <input [class.is-invalid]="campoNoValido('direccion')" formControlName="direccion" class="form-control" type="text"  placeholder="Direccion">
                                    <small *ngIf="campoNoValido('direccion')" class="form-control-feedback text-danger">La direccion es obligatoria</small> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Correo electronico</label>
                                    <input [class.is-invalid]="campoNoValido('email')" formControlName="email" class="form-control" type="email"  placeholder="Email">
                                    <small *ngIf="campoNoValido('email')" class="form-control-feedback text-danger">El email es obligatorio</small> <br>
                                    <small *ngIf="email()" class="form-control-feedback text-danger">Ingrese un email válido. Ejemplo: tucorreo@ejemplo.com.</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Pais</label>   
                                    <ng-select 
                                               notFoundText = "Pais no encontrado"
                                               [clearable]="false"
                                               placeholder="Seleccionar Pais"
                                               appendTo="body"
                                               formControlName="id_pais">
                                               <ng-option [value]= "pais.id" *ngFor="let pais of paises">
                                                {{pais.nombre}}
                                              </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_pais')" class="form-control-feedback text-danger">Seleccione un pais</small> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <ng-select 
                                               placeholder="Seleccionar Ciudad"
                                               [clearable]="false"
                                               appendTo="body"
                                               notFoundText = "ciudad no encontrada"
                                               formControlName="id_ciudad">
                                               <ng-option [value]= "ciudad.id" *ngFor="let ciudad of ciudades">
                                                 {{ciudad.nombre}} / {{ciudad.estado.nombre}}
                                               </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_ciudad')" class="form-control-feedback text-danger">Seleccione una ciudad</small> 
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="form-actions text-center">
                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            &nbsp;
                            <button  routerLink="/dashboard" type="button" class="btn btn-inverse">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


