<div class="container">
    <app-cargando [tamanio]="'col-xl-7 col-lg-8 col-md-10 col-sm-12'" *ngIf="cargando"></app-cargando>
    <div *ngIf="cargarformulario" class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">Datos Personales</h3>
                    <form  class="form p-t-20" 
                            [formGroup]="perfilForm"
                            (ngSubmit)="guardar()">
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Nombres</label>
                                    <input [class.is-invalid]="campoNoValido('nombre')" formControlName="nombre" class="form-control" type="text" placeholder="Nombres" maxlength="45" (keypress)="validacionService.soloLetras($event)">
                                    <small *ngIf="campoNoValido('nombre')" class="form-control-feedback text-danger">El nombre esobligatorio</small> 
                                    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Apellidos</label>
                                    <input [class.is-invalid]="campoNoValido('apellidos')" formControlName="apellidos" class="form-control" type="text"  placeholder="Apellidos" maxlength="60" (keypress)="validacionService.soloLetras($event)">  
                                    <small *ngIf="campoNoValido('apellidos')" class="form-control-feedback text-danger">Los apellidos son obligatorios</small> 
                           
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Cédula</label>
                                    <input [class.is-invalid]="campoNoValido('cedula')" formControlName="cedula" type="text" class="form-control" placeholder="Cedula" maxlength="20">
                                    <small *ngIf="campoNoValido('cedula')" class="form-control-feedback text-danger">La cédula de identidad es obligatoria</small> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Complemento Ci (opcional):</label>
                                    <input [class.is-invalid]="campoNoValido('num_complemento_ci')" formControlName="num_complemento_ci" type="text" class="form-control" placeholder="Complemento CI" maxlength="10">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Teléfono</label>
                                    <input [class.is-invalid]="campoNoValido('telefono')" formControlName="telefono" type="text" class="form-control" placeholder="Teléfono" (keypress)="validacionService.soloNumeros($event)">    
                                    <small *ngIf="campoNoValido('telefono')" class="form-control-feedback text-danger">El teléfono es obligatorio</small>            
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Género</label>
                                    <select [class.is-invalid]="campoNoValido('genero')" formControlName="genero" class="form-control custom-select">
                                        <option value="M">Masculino</option>
                                        <option value="F">Fememino</option>
                                    </select>
                                    <small *ngIf="campoNoValido('genero')" class="form-control-feedback text-danger">Seleccione una género</small> 
                                </div>
                            </div>
                            
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Dirección</label>
                                    <input [class.is-invalid]="campoNoValido('direccion')" formControlName="direccion" class="form-control" type="text"  placeholder="Dirección" (keypress)="validacionService.direccion($event)">
                                    <small *ngIf="campoNoValido('direccion')" class="form-control-feedback text-danger">La dirección es obligatoria</small> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Correo electrónico</label>
                                    <input [class.is-invalid]="campoNoValido('email')" formControlName="email" class="form-control" type="email"  placeholder="Email" maxlength="45">
                                    <small *ngIf="campoNoValido('email')" class="form-control-feedback text-danger">El email es obligatorio</small> <br>
                                    <small *ngIf="email()" class="form-control-feedback text-danger">Ingrese un email válido. Ejemplo: tucorreo@ejemplo.com.</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>País</label>   
                                    <ng-select 
                                               notFoundText = "País no encontrado"
                                               [clearable]="false"
                                               placeholder="Seleccionar País"
                                               appendTo="body"
                                               formControlName="id_pais">
                                               <ng-option [value]= "pais.id" *ngFor="let pais of paises">
                                                {{pais.nombre}}
                                              </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_pais')" class="form-control-feedback text-danger">Seleccione un país</small> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <ng-select 
                                               placeholder="Seleccionar Ciudad"
                                               [clearable]="false"
                                               appendTo="body"
                                               notFoundText = "ciudad no encontrada"
                                               formControlName="id_ciudad">
                                               <ng-option [value]= "ciudad.id" *ngFor="let ciudad of ciudades">
                                                 {{ciudad.nombre}} / {{ciudad.estado.nombre}}
                                               </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_ciudad')" class="form-control-feedback text-danger">Seleccione una ciudad</small> 
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="form-actions text-center">
                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            &nbsp;
                            <button  routerLink="/dashboard" type="button" class="btn btn-inverse">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


