<div class="container-fluid">
    <app-cargando [tamanio]="'col-12'" *ngIf="cargando"></app-cargando>
    <div class="row animated fadeIn fast">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2><span class="badge badge-info">Mis Contrataciones</span></h2>
                    <h6>Total: {{totalContrataciones}} - {{desde}}</h6>
                    <br><br>
                   
                    <div class="row"> 
                        <div class="col-md-6">
                         <!--   <h5>Vacantes:</h5>
                            <ng-select [items]="vacantes" 
                                       bindLabel="titulo" 
                                       bindValue="id" 
                                       [clearable] = "false"
                                       [(ngModel)]="id_vacante"
                                       (change)="filtrar()">
                            </ng-select>
                        -->
                        </div>
                        <div class="col-md-6">
                            <input #txtTermino (keyup)="busqueda(txtTermino.value)" type="text" class="form-control mt-4" placeholder="buscar contratación...">
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col">
                            <div class="table-responsive">
                                <table class="table full-color-table full-inverse-table hover-table">
                                    <thead>
                                        <tr>
                                            <th>Num</th>
                                            <th>Contratado en:</th>
                                            <th>Empleado</th>
                                            <th>Ocupación</th>
                                            <th>Vacante</th>
                                            <th class="w100 text-center">ver</th>
                                            <th class="w100 text-center">eliminar</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let contratacion of contrataciones; let i = index">
                                            <td align="center">
                                                <span >{{desde + i + 1}}</span>
                                            </td>
                                            <td>
                                                {{contratacion.creado_en | date: 'long'}}
                                            </td>
                                            <td>
                                                {{contratacion.solicitante.nombre}} {{contratacion.solicitante.apellidos}}
                                            </td>
                                            <td>
                                                {{contratacion.vacante.requisitos.ocupacion.nombre}}
                                            </td>
                                            <td>
                                                {{contratacion.vacante.titulo}}
                                            </td>
                                            <td class="text-nowrap text-center">
                                                <a class="cursor" (click)="mostrarModal(contratacion.solicitante.id, contratacion.id)"> 
                                                    <i class="fa fa-eye "></i> 
                                                </a>
                                            </td>
                                            <td class="text-nowrap text-center">
                                                <a class="cursor" *ngIf="contratacion.habilitado" (click)="terminar(contratacion.id)" > <i class="fa fa-trash-o text-info"></i></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    
                    <div class="text-center" *ngIf="txtTermino.value.length ===0">
                        <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button> 
                        &nbsp;
                        <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<app-vista-completo *ngIf="myModal" [visible]="myModal" 
                                                    [idSolicitante]= "idSolicitante" 
                                                    [tipoOperacion]="'contratacion'" 
                                                    [idOperacion] = "idContratacion"
                                                    (cerrar)="cerrarModal($event)"
                                                    (cancelar)="cancelarModal($event)"
                                                    >
</app-vista-completo>
-->

<app-ver-contratacion *ngIf="myModal" [visible]="myModal" 
                                      [idContratacion] = "idContratacion"
                                      (cerrar)="cerrarModal($event)"
                                      (cancelar)="cancelarModal($event)">

</app-ver-contratacion>








