
<div class="modal" *ngIf="visible">
    
    <div class="row justify-content-center container-modal animated fadeIn fast">
        <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
        <div class="card  rounded">
            <div class="card-header pt-0 pb-0 header-modal">
                <div class="row justify-content-end">
                    <div class="col-1 pr-0">
                      <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                   </div>
                </div>
            </div>
            <div class="row animated fadeIn fast" *ngIf="cargando">
                <div class="col-12">
                    <div class="alert alert-info text-center">
                        <h4>Cargando...</h4> 
                        <i class="fa fa-spin fa-refresh fa-2x"></i>
                        <p class="mb-0">Por favor espere</p>
                    </div>
                </div>
            </div>
            <div class="card-body"  *ngIf="curriculum">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">{{curriculum.titulo}}</h1>
                    </div>
                </div>
                <div class="row align-items-center mt-5">
                    <div class="col-md-6" >
                        <div class="row justify-content-center">
                            <div class="col-md-9">
                                <img [src]="curriculum.solicitante.imagen.url" alt="..." class="img-responsive rounded-circle">
                            </div>
                        </div> 
                    </div>
                    <div class="col-md-6">
    
                        <div class="card text-white  bg-dark">
                            <div class="card-body">
                                <span class="font-weight-bold">Nombre: </span> <span>{{curriculum.solicitante.nombre}}</span> <br>
                                <span class="font-weight-bold">Apellidos: </span> <span>{{curriculum.solicitante.apellidos}}</span> <br>
                                <span class="font-weight-bold">Ocupaciones : </span> <span *ngFor="let ocupacion of curriculum.solicitante.ocupaciones">{{ocupacion.ocupacion.nombre}}, </span><br>
                                <span class="font-weight-bold">Nacionalidad: </span> <span>{{curriculum.solicitante.nacionalidad}}</span> <br>
                                <span class="font-weight-bold">Pais de residencia: </span> <span>{{curriculum.solicitante.ciudad.estado.pais.nombre}}</span> <br>
                                <span class="font-weight-bold">Ciudad de residencia: </span> <span>{{curriculum.solicitante.ciudad.nombre}} - {{curriculum.solicitante.ciudad.estado.nombre}}</span> <br>
                                <span class="font-weight-bold">Direccion: </span> <span>{{curriculum.solicitante.direccion}}</span> <br>
                                <span class="font-weight-bold">Genero: </span> <span>{{curriculum.solicitante.genero}}</span> <br>
                                <span class="font-weight-bold">Pretension Salarial: </span> <span>{{curriculum.pretension_salarial}} Bs</span> <br>
                                <hr>
                                <app-operaciones *ngIf="tipoOperacion != 'ver-curriculum'"
                                                 [idSolicitante]= "curriculum.solicitante.id" 
                                                 [id] = "idOperacion"
                                                 [tipoOperacion]="tipoOperacion"
                                                 (cerrar)="cerrarModal($event)">
                                </app-operaciones>
                            </div>
                        </div>
                        <div class="card text-white  bg-dark">
                            <div class="card text-white bg-dark">
                                <div class="card-header">
                                    <h4 class="m-b-0 text-white text-center font-weight-bold">Quien soy</h4>
                                </div>
                                <div class="card-body">
                                    <p class="card-text text-justify">{{curriculum.biografia}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="card bg-dark text-white mt-3">
                            <div class="card-header">
                                <h4 class="m-b-0 text-white text-center font-weight-bold">Contacto</h4>
                            </div>
                            <div class="card-body">
                                <span class="font-weight-bold">Email: </span> <span>{{curriculum.solicitante.credenciales.email}}</span> <br>
                                <span class="font-weight-bold">Telefono: </span> <span>{{curriculum.solicitante.telefono}}</span> <br> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                   <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Estudios Avanzados</h4>
                                    </div>
                                    <div class="card-body ">
                                               <div class="row"  *ngIf="curriculum.estudios_avanzados.length === 0">
                                                    <div class="col-md-12">
                                                        <h4 class="text-white text-center">No tiene</h4>
                                                    </div>
                                                </div>
                                                <div class="row" [class.justify-content-center]="curriculum.estudios_avanzados.length ===1">
                                                    <div class="col-md-6 col-lg-6 mb-5" *ngFor="let estudio of curriculum.estudios_avanzados">
                                                        <span class="font-weight-bold">De: </span> <span>{{estudio.fecha_inicio | date:'mediumDate'}}</span> <br>
                                                        <span class="font-weight-bold">al: </span> <span>{{estudio.fecha_fin | date:'mediumDate'}}</span> <br>
                                                        <span class="font-weight-bold">Intitucion: </span> <span>{{estudio.institucion}}</span> <br>
                                                        <span class="font-weight-bold">Carrera/ curso/ seminario/ otros: </span> <span>{{estudio.carrera}}</span> <br>
                                                        <span class="font-weight-bold">Nivel de Estudio: </span> <span>{{estudio.nivel_estudio.nombre}}</span> <br>
                                                        <span class="font-weight-bold">Pais: </span> <span>{{estudio.pais.nombre}}</span> <br>
                                                        <span class="font-weight-bold">Ciudad: </span> <span>{{estudio.ciudad}} - {{estudio.estado}}</span>
                                                    
                                                    </div>
                                                </div> 
                                            
                                    </div>
                
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Estudios Basicos</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="card text-white bg-info" >
                                            <div class="card-body">
                                                <div class="col-md-12" *ngIf="curriculum.estudios_basicos.length === 0">
                                                    <h4 class="text-white text-center">No tiene</h4>
                                                </div>
                                                <div class="row" [class.justify-content-center]="curriculum.estudios_basicos.length ===1">
                                                    <div class="col-md-6 col-lg-6 mb-5" *ngFor="let estudio of curriculum.estudios_basicos">
                                                        <span class="font-weight-bold">De: </span> <span>{{estudio.fecha_inicio | date:'mediumDate'}}</span> <br>
                                                        <span class="font-weight-bold">al: </span> <span>{{estudio.fecha_fin | date:'mediumDate'}}</span> <br>
                                                        <span class="font-weight-bold">Colegio: </span> <span>{{estudio.colegio}}</span> <br>
                                                        <span class="font-weight-bold">Grado de inicio: </span> <span>{{estudio.grado_inicio.grado}} de {{estudio.grado_inicio.nivel_escolar.nivel}}</span> <br>
                                                        <span class="font-weight-bold">Grado fin: </span> <span>{{estudio.grado_fin.grado}} de {{estudio.grado_fin.nivel_escolar.nivel}}</span> <br>
                                                        <span class="font-weight-bold">Pais: </span> <span>{{estudio.pais.nombre}}</span> <br>
                                                        <span class="font-weight-bold">Ciudad: </span> <span>{{estudio.ciudad}} - {{estudio.estado}}</span>
                                                    
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Idiomas</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="col-md-12" *ngIf="curriculum.curriculum_idiomas.length === 0">
                                            <h4 class="text-white text-center">No tiene</h4>
                                        </div>
                                        <div class="row" [class.justify-content-center]="curriculum.curriculum_idiomas.length ===1">
                                            <div class="col-md-6 col-lg-6" *ngFor="let idioma of curriculum.curriculum_idiomas">
                                                <h5 class="text-white">{{idioma.idioma.nombre}}</h5>
                                                    <ul>
                                                         <li><strong>Nivel escrito :</strong> {{idioma.nivel_escrito.nombre}}</li>
                                                         <li><strong>Nivel lectura :</strong> {{idioma.nivel_lectura.nombre}}</li>
                                                         <li><strong>Nivel oral :</strong> {{idioma.nivel_oral.nombre}}</li>
                                                    </ul>     
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Experiencias Laborales</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="card text-white bg-info" >
                                            <div class="card-body">
                                                <div class="col-md-12" *ngIf="curriculum.experiencias_laborales.length === 0">
                                                    <h4 class="text-white text-center">No tiene</h4>
                                                </div>
                                                <div class="row" [class.justify-content-center]="curriculum.experiencias_laborales.length ===1">
                                                    <div class="col-md-6 col-lg-6 mb-5" *ngFor="let experiencia of curriculum.experiencias_laborales">
                                                        <span class="font-weight-bold">De: </span> <span>{{experiencia.fecha_inicio | date:'mediumDate'}}</span> <br>
                                                        <span class="font-weight-bold">al: </span> <span>{{experiencia.fecha_fin | date:'mediumDate'}}</span> <br>
                                                        <span class="font-weight-bold">Pais: </span> <span>{{experiencia.pais.nombre}}</span> <br>
                                                        <span class="font-weight-bold">Ciudad: </span> <span>{{experiencia.ciudad}} - {{experiencia.estado}}</span> <br>
                                                        <span class="font-weight-bold">Empresa: </span> <span>{{experiencia.empresa}}</span> <br>
                                                        <span class="font-weight-bold">Puesto: </span> <span>{{experiencia.puesto}}</span> <br>
                                                        <span class="font-weight-bold">Descripcion:</span> <p class="card-text text-justify">{{experiencia.descripcion}}</p>
                                                       
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Habilidades</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-md-12" *ngIf="curriculum.curriculum_habilidades.length === 0">
                                                <h4 class="text-white text-center">No tiene</h4>
                                            </div>
                                            <div class="row" [class.justify-content-center]="curriculum.curriculum_habilidades.length ===1">
                                                <div class="col-md-6 col-lg-6" *ngFor="let habilidad of curriculum.curriculum_habilidades">
                                                    <ul >
                                                        <li>
                                                            <h5 class="text-white">{{habilidad.habilidad.habilidad}}</h5>                                            
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Referencias</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="card text-white bg-info" >
                                            <div class="card-body">
                                                <div class="col-md-12" *ngIf="curriculum.referencias.length === 0">
                                                    <h4 class="text-white text-center">No tiene</h4>
                                                </div>
                                                <div class="row" [class.justify-content-center]="curriculum.referencias.length ===1">
                                                    <div class="col-md-6 col-lg-6 mb-5" *ngFor="let referencia of curriculum.referencias">
                                                        <span class="font-weight-bold">Empresa: </span> <span>{{referencia.empresa}}</span> <br>
                                                  
                                                        <span class="font-weight-bold">Nombre: </span><span>{{referencia.nombre}} {{referencia.apellidos}}</span> <br>
                                                   
                                                        <span class="font-weight-bold">Cargo: </span><span>{{referencia.cargo}}</span> <br>
                                                   
                                                        <span class="font-weight-bold">Telefono: </span><span>{{referencia.telefono}}</span> <br>
                                                   
                                                    </div>
                                                </div>                                               
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
            
                </div>
   
            </div>
        </div>
      </div>
  <!--    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-12">
        <div class="card  rounded">
            <div class="card-header pt-0 pb-0 header-modal">
                <div class="row justify-content-end">
                    <div class="col-1 pr-0">
                      <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                   </div>
                </div>
            </div>
            <div id="contenido" class="card-body" *ngIf="curriculum">
                <div class="row">
                    <div class="col-12">
                        <h1 class="text-center">{{curriculum.titulo}}</h1>
                    </div>
                </div>
                <div class="row mt-5">
                    <div class="col-xl-5 col-lg-5 col-md-5  col-sm-12">
                        <div class="row">
                            <div class="col-12" align="center">
                                <img width="200px" [src]="curriculum.solicitante.imagen.url" alt="..." class="rounded-circle">
                            </div>
                        </div>
                        <div class="row mt-5">
                            <div class="col-12">
                                <div class="card text-white  bg-dark">
                                    <div class="card-body">
                                        <span class="font-weight-bold">Nombre: </span> <span>{{curriculum.solicitante.nombre}}</span> <br>
                                        <span class="font-weight-bold">Apellidos: </span> <span>{{curriculum.solicitante.apellidos}}</span> <br>
                                        <span class="font-weight-bold">Ocupaciones : </span> <span *ngFor="let ocupacion of curriculum.solicitante.ocupaciones">{{ocupacion.ocupacion.nombre}}, </span><br>
                                        <span class="font-weight-bold">Nacionalidad: </span> <span>{{curriculum.solicitante.nacionalidad}}</span> <br>
                                        <span class="font-weight-bold">Pais de residencia: </span> <span>{{curriculum.solicitante.ciudad.estado.pais.nombre}}</span> <br>
                                        <span class="font-weight-bold">Ciudad de residencia: </span> <span>{{curriculum.solicitante.ciudad.nombre}} - {{curriculum.solicitante.ciudad.estado.nombre}}</span> <br>
                                        <span class="font-weight-bold">Direccion: </span> <span>{{curriculum.solicitante.direccion}}</span> <br>
                                        <span class="font-weight-bold">Genero: </span> <span>{{curriculum.solicitante.genero}}</span> <br>
                                        <span class="font-weight-bold">Pretension Salarial: </span> <span>{{curriculum.pretension_salarial}} Bs</span> <br>
        
                                    </div>

                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Contacto</h4>
                                    </div>
                                    <div class="card-body">
                                        <span class="font-weight-bold">Email: </span> <span>{{curriculum.solicitante.credenciales.email}}</span> <br>
                                        <span class="font-weight-bold">Telefono: </span> <span>{{curriculum.solicitante.telefono}}</span> <br>   
                                    </div>

                                    <div class="card text-white bg-dark">
                                        <div class="card-header">
                                            <h4 class="m-b-0 text-white text-center font-weight-bold">Quien soy</h4>
                                        </div>
                                        <div class="card-body">
                                            <p class="card-text text-justify">{{curriculum.biografia}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            
                            <div class="col-xl-12 col-lg-12 col-md-12  col-sm-12">
                                <app-operaciones *ngIf="tipoOperacion != 'ver-curriculum'"
                                                 [idSolicitante]= "curriculum.solicitante.id" 
                                                 [id] = "idOperacion"
                                                 [tipoOperacion]="tipoOperacion"
                                                 (cerrar)="cerrarModal($event)">
                                </app-operaciones>
                            </div>
                            
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-7 col-md-7  col-sm-12">
                        <div class="row" *ngIf="curriculum.estudios_avanzados.length > 0">
                            <div class="col">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Estudios Avanzados</h4>
                                    </div>
                                    <div class="card-body ">
                                        <div class="card text-white bg-info" >
                                            <div class="card-body">
                                                <div class="row  justify-content-center">
                                                    <div class="col-md-6 col-lg-6 mb-5" *ngFor="let estudio of curriculum.estudios_avanzados">
                                                        <span class="font-weight-bold">De: </span> <span>{{estudio.fecha_inicio | date:'mediumDate'}}</span> <br>
                                                        <span class="font-weight-bold">al: </span> <span>{{estudio.fecha_fin | date:'mediumDate'}}</span> <br>
                                                        <span class="font-weight-bold">Intitucion: </span> <span>{{estudio.institucion}}</span> <br>
                                                        <span class="font-weight-bold">Carrera/ curso/ seminario/ otros: </span> <span>{{estudio.carrera}}</span> <br>
                                                        <span class="font-weight-bold">Nivel de Estudio: </span> <span>{{estudio.nivel_estudio.nombre}}</span> <br>
                                                        <span class="font-weight-bold">Pais: </span> <span>{{estudio.pais.nombre}}</span> <br>
                                                        <span class="font-weight-bold">Ciudad: </span> <span>{{estudio.ciudad}} - {{estudio.estado}}</span>
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="curriculum.experiencias_laborales.length > 0">
                            <div class="col">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Experiencias Laborales</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="card text-white bg-info" >
                                            <div class="card-body">
                                                <div class="row  justify-content-center">
                                                    <div class="col-md-6 col-lg-6 mb-5" *ngFor="let experiencia of curriculum.experiencias_laborales">
                                                        <span class="font-weight-bold">De: </span> <span>{{experiencia.fecha_inicio | date:'mediumDate'}}</span> <br>
                                                        <span class="font-weight-bold">Pais: </span> <span>{{experiencia.pais.nombre}}</span> <br>
                                                        <span class="font-weight-bold">Ciudad: </span> <span>{{experiencia.ciudad}} - {{experiencia.estado}}</span> <br>
                                                        <span class="font-weight-bold">al: </span> <span>{{experiencia.fecha_fin | date:'mediumDate'}}</span> <br>
                                                        <span class="font-weight-bold">Empresa: </span> <span>{{experiencia.empresa}}</span> <br>
                                                        <span class="font-weight-bold">Puesto: </span> <span>{{experiencia.puesto}}</span> <br>
                                                        <span class="font-weight-bold">Descripcion:</span> <p class="card-text text-justify">{{experiencia.descripcion}}</p>
                                                       
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="curriculum.curriculum_habilidades.length > 0">
                            <div class="col">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Habilidades</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row justify-content-center">
                                            <div class="col-md-6 col-lg-6" *ngFor="let habilidad of curriculum.curriculum_habilidades">
                                                <ul >
                                                    <li>
                                                        <h5 class="text-white">{{habilidad.habilidad.habilidad}}</h5>                                            
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row" *ngIf="curriculum.referencias.length > 0">
                            <div class="col">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Referencias</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="card text-white bg-info" >
                                            <div class="card-body">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-6 col-lg-6 mb-5" *ngFor="let referencia of curriculum.referencias">
                                                        <span class="font-weight-bold">Empresa: </span> <span>{{referencia.empresa}}</span> <br>
                                                  
                                                        <span class="font-weight-bold">Nombre: </span><span>{{referencia.nombre}} {{referencia.apellidos}}</span> <br>
                                                   
                                                        <span class="font-weight-bold">Cargo: </span><span>{{referencia.cargo}}</span> <br>
                                                   
                                                        <span class="font-weight-bold">Telefono: </span><span>{{referencia.telefono}}</span> <br>
                                                   
                                                    </div>
                                                </div>                                               
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row" *ngIf="curriculum.estudios_basicos.length > 0">
                            <div class="col">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Estudios Basicos</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="card text-white bg-info" >
                                            <div class="card-body">
                                                <div class="row justify-content-center">
                                                    <div class="col-md-6 col-lg-6 mb-5" *ngFor="let estudio of curriculum.estudios_basicos">
                                                        <span class="font-weight-bold">De: </span> <span>{{estudio.fecha_inicio | date:'mediumDate'}}</span> <br>
                                                        <span class="font-weight-bold">al: </span> <span>{{estudio.fecha_fin | date:'mediumDate'}}</span>
                                                        <span class="font-weight-bold">Colegio: </span> <span>{{estudio.colegio}}</span> <br>
                                                        <span class="font-weight-bold">Grado de inicio: </span> <span>{{estudio.grado_inicio.grado}} de {{estudio.grado_inicio.nivel_escolar.nivel}}</span> <br>
                                                        <span class="font-weight-bold">Grado fin: </span> <span>{{estudio.grado_fin.grado}} de {{estudio.grado_fin.nivel_escolar.nivel}}</span> <br>
                                                        <span class="font-weight-bold">Pais: </span> <span>{{estudio.pais.nombre}}</span> <br>
                                                        <span class="font-weight-bold">Ciudad: </span> <span>{{estudio.ciudad}} - {{estudio.estado}}</span>
                                                    
                                                    </div>
                                                </div>
                                               
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" *ngIf="curriculum.curriculum_idiomas.length > 0">
                            <div class="col">
                                <div class="card text-white bg-info">
                                    <div class="card-header">
                                        <h4 class="m-b-0 text-white text-center font-weight-bold">Idiomas</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="row justify-content-center">
                                            <div class="col-md-6 col-lg-6" *ngFor="let idioma of curriculum.curriculum_idiomas">
                                                <h5 class="text-white">{{idioma.idioma.nombre}}</h5>
                                                    <ul>
                                                         <li><strong>Nivel escrito :</strong> {{idioma.nivel_escrito.nombre}}</li>
                                                         <li><strong>Nivel lectura :</strong> {{idioma.nivel_lectura.nombre}}</li>
                                                         <li><strong>Nivel oral :</strong> {{idioma.nivel_oral.nombre}}</li>
                                                    </ul>     
                                            </div>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
      </div>
      -->
    </div>
</div> 