
<div class="modal" *ngIf="visible">
    <app-cargando [rowclass]="'row container-modal justify-content-center animated fadeIn fast'" [tamanio]="'col-lg-7  col-md-10 col-sm-12'" *ngIf="cargando"></app-cargando>
    <div *ngIf="vacante">
        <div class="row container-modal justify-content-center animated fadeIn fast">
            <div class="col-lg-7  col-md-10 col-sm-12">
               <div class="card bg-dark">
                   <div class="card-header pt-0 pb-0 header-modal">
                    <div class="row justify-content-end">
                        <div class="col-1 pr-0">
                          <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                       </div>
                    </div>
                  </div>
                   <div class="card-body ">
                    <app-cargando [tamanio]="'col-md-12'" *ngIf="cargando2"></app-cargando>
                    <div class="row">
                        <div class="col-lg-7 col-md-7 col-sm-12">
                            <div class="row">
                                <div class="col">
                                    <div class="card mb-3">
                                        <div class="card-body">
                                            <h3 class="card-title text-center"><strong>Vacante: {{vacante.titulo}}</strong> </h3>
                                            <span class="font-weight-bold">Sueldo: </span> {{vacante.sueldo.sueldo}} <br>
                                            <span class="font-weight-bold">Periodo de pago: </span> {{vacante.periodo_pago.periodo}}<br>
                                            <span class="font-weight-bold">Tipo de Contrato: </span> {{vacante.tipo_contrato.tipo}} <br>
                                            <span class="font-weight-bold">Tipo de Jornada: </span> {{vacante.tipo_jornada.tipo}} <br>
                                            <span class="font-weight-bold">Horario: </span> {{vacante.horario.nombre}} <br>
                                            <span class="font-weight-bold">Fecha de publicacion: </span> <span>{{vacante.creado_en | date: 'longDate'}}</span> <br>  
                                            <span class="font-weight-bold">Vacantes Disponibles: </span> <span>{{vacante.num_disponibles}}</span> <br>  
                                            <span class="font-weight-bold">Direccion: </span> <span>{{vacante.direccion}}</span> <br>                          
                                            <span class="font-weight-bold">Pais: </span> <span>{{vacante.ciudad.estado.pais.nombre}}</span> <br>
                                            <span class="font-weight-bold">Ciudad: </span> <span>{{vacante.ciudad.nombre}} / {{vacante.ciudad.estado.nombre}}</span> <br>
                                            <span class="font-weight-bold">Descripcion: </span> <span>{{vacante.descripcion}}</span> <br>                               
                                            
                                            <hr>
                                            <h4 class="card-title text-center"><strong>Requisitos para el cargo</strong> </h4>
                                            
                                            <span class="font-weight-bold">Ocupacion: </span> <span>{{vacante.requisitos.ocupacion.nombre}}</span> <br>
                                            <span class="font-weight-bold">Años de Experiencia: </span> <span>{{vacante.requisitos.experiencia}}</span> <br>
                                            <span class="font-weight-bold">Genero: </span> <span>{{vacante.requisitos.genero | genero:vacante.requisitos.genero}}</span> <br>
                                            <span class="font-weight-bold">Idiomas: </span> 
                                             <ul>
                                                 <li *ngFor="let idioma  of vacante.requisitos.idiomas"><span>{{idioma.idioma.nombre}}</span>
                                                    <ul>
                                                        <li>Nivel oral: {{idioma.nivel_oral.nombre}}</li>
                                                        <li>Nivel lectura: {{idioma.nivel_lectura.nombre}}</li>
                                                        <li>Nivel escrito: {{idioma.nivel_escrito.nombre}}</li>
                                                    </ul>
                                                </li>
                                                 
                                             </ul>
                                        </div>
                                        
                                      </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 col-sm-12">
                            
                            <div *ngIf="vacante.empleador.empresa" class="card text-light bg-dark mb-3">
                                <img [src]="vacante.empleador.empresa.logo.url" alt="">
                                <div class="card-body">
                                  <span *ngIf="vacante.empleador.empresa" class="font-weight-bold">Empresa: </span> <span>{{vacante.empleador.empresa.nombre}}  {{vacante.empleador.empresa.razon_social.sigla}}</span> <br>
                                  <span *ngIf="vacante.empleador.empresa" class="font-weight-bold">Dominio web: </span> <span *ngIf="vacante.empleador.empresa.dominio_web">{{vacante.empleador.empresa.dominio_web}}</span> <span *ngIf="!vacante.empleador.empresa.dominio_web"> No tiene</span><br>
                                  <span *ngIf="vacante.empleador.empresa" class="font-weight-bold">Email: </span> <span>{{vacante.empleador.credenciales.email}}</span>  <br>
                                  <span *ngIf="vacante.empleador.empresa" class="font-weight-bold">Pais: </span> <span>{{vacante.empleador.empresa.ciudad.estado.pais.nombre}}</span> <br>
                                  <span *ngIf="vacante.empleador.empresa" class="font-weight-bold">Ciudad: </span> <span>{{vacante.empleador.empresa.ciudad.nombre}} / {{vacante.empleador.empresa.ciudad.estado.nombre}}</span> <br>
                                  <span *ngIf="vacante.empleador.empresa" class="font-weight-bold">Direccion: </span> <span>{{vacante.empleador.empresa.direccion}}</span> <br>   
                                  <span *ngIf="vacante.empleador.empresa" class="font-weight-bold">Telefono: </span> <span>{{vacante.empleador.empresa.telefono}}</span>  <br>                              
                                  <span *ngIf="vacante.empleador.empresa" class="font-weight-bold">Descripcion: </span> <span>{{vacante.empleador.empresa.descripcion}}</span>  <br> 
                                  
                                 
                                </div>
                
                            </div>
                            <div *ngIf="!vacante.empleador.empresa" class="card text-white bg-dark mb-3">
                                <img [src]="vacante.empleador.imagen.url" alt="">
                                <div class="card-body">  
                                    <span *ngIf="!vacante.empleador.empresa" class="font-weight-bold">Empleador: </span> <span>{{vacante.empleador.nombre}} {{vacante.empleador.apellidos}}</span> <br>
                                    <span *ngIf="!vacante.empleador.empresa" class="font-weight-bold">Genero: </span> <span>{{ vacante.empleador.genero | genero: vacante.empleador.genero}}</span> <br>
                                    <span *ngIf="!vacante.empleador.empresa" class="font-weight-bold">Nacionalidad: </span> <span>{{ vacante.empleador.nacionalidad}}</span> <br>
                                    <span *ngIf="!vacante.empleador.empresa" class="font-weight-bold">Pais: </span> <span>{{vacante.empleador.ciudad.estado.pais.nombre}}</span> <br>
                                    <span *ngIf="!vacante.empleador.empresa" class="font-weight-bold">Ciudad: </span> <span>{{vacante.empleador.ciudad.nombre}} / {{vacante.empleador.ciudad.estado.nombre}}</span> <br>
                                    <span *ngIf="!vacante.empleador.empresa" class="font-weight-bold">Direccion: </span> <span>{{vacante.empleador.direccion}}</span> <br>   
                                    <span *ngIf="!vacante.empleador.empresa" class="font-weight-bold">Telefono: </span> <span>{{vacante.empleador.telefono}}</span>  <br>                              
                                    <span *ngIf="!vacante.empleador.empresa" class="font-weight-bold">Email: </span> <span>{{vacante.empleador.credenciales.email}}</span>  <br>
                                </div>
                            </div> 
                            <div class="card-dark">
                                <div class="card-body">
                                    
                                  
                                    
                                    <button *ngIf="!contratacion && !postulacion" (click)="postular()" class="btn btn-info btn-block mt-2">Postularme</button>                              <!--Solicitante Aceptado para la vacante pero aun no confirmado-->
                                                                
             
                                  
                                    <div *ngIf="postulacion && !postulacion.aceptado && !postulacion.rechazado" class="alert alert-info" role="alert">
                                          Usted ya postuló a la vacante. Seleccione la opcion Cancelar si desea cancelar su postulación.
                                          <button   (click)="cancelar()" class="btn btn-danger btn-block mt-2">Cancelar</button>                             
                                    </div>
                                    <div *ngIf="postulacion && postulacion.aceptado && !postulacion.rechazado  && !contratacion" class="alert alert-info text-justify" role="alert">
                                        Usted fue aceptado para esta vacante. Seleccione Confirmar para concretar el contrato, caso contrario la opción Rechazar.
                                        <button  (click)="confirmar()" class="btn btn-success btn-block mt-2">Confirmar</button> 
                                        <button  (click)="rechazar()" class="btn btn-danger btn-block mt-2">Rechazar</button>            
                                        <button  routerLink="/postulaciones-solicitante" class="btn btn-info btn-block">Ver postulaciones aceptadas</button>                         
               
                                      </div>

                                      <div *ngIf="contratacion && contratacion.habilitado" class="alert alert-info" role="alert">
                                        Usted actualmente está contratado para esta vacante!
                                      </div> 

                                      <div class="alert alert-primary text-justify" role="alert " *ngIf="contratacion && !contratacion.habilitado">
                                         Usted fue contratado para esta vacante. La contratación ha sido terminada.
                                            <button routerLink="/contrataciones-solicitante"  class="btn btn-info btn-block mt-2">Ver contrataciones</button>                           
                                      </div>

                                      <div class="alert alert-primary text-center" role="alert" *ngIf="(postulacion && postulacion.rechazado && postulacion.aceptado)">
                                        Usted ha rechazado esta vacante !
                                        <button *ngIf="!postulacion.oculto" routerLink="/postulaciones-rechazadas-solicitante" class="btn btn-info btn-block">Ver postulaciones rechazadas</button>                            

                                      </div>

                                      <div class="alert alert-primary text-justify" role="alert" *ngIf="(postulacion && postulacion.rechazado && !postulacion.aceptado)">
                                        El empleador rechazó su postulacion para esta vacante !
                                        <button *ngIf="!postulacion.oculto" routerLink="/postulaciones-rechazadas-solicitante" class="btn btn-info btn-block">Ver postulaciones rechazadas</button>                            
                                      </div>
                                </div>
                            </div>
                        </div>
                    </div>
           
                   </div>
               </div>

            </div>
        </div>
      
    </div>
</div> 