<div class="login-register" style="background-image:url(../assets/images/background/login-register2.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 col-sm-10">
                <div class="card">
                    <div class="card-body">
                        <h3 class="text-center">Activación Exitosa</h3>

                        <a class="btn btn-info d-block" routerLink='/login' >Ingresar</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
