
<div class="modal" *ngIf="visible">
    <app-cargando [rowclass]="'row container-modal justify-content-center animated fadeIn fast'" [tamanio]="'col-xl-7 col-lg-8 col-md-10 col-sm-12'" *ngIf="cargandoModal"></app-cargando>

    <div *ngIf="!cargandoModal" class="row container-modal animated fadeIn fast justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card rounded">
                <div class="card-header pt-0 pb-0 header-modal">
                    <div class="row justify-content-end">
                        <div class="col-1 pr-0">
                          <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                       </div>
                    </div>
                </div>
                <div class="card-body">
                    <app-cargando [tamanio]="'col-12'" *ngIf="cargando"></app-cargando>
                    <h3 class="text-center font-weight-bold">{{tipoOperacion | titlecase}} Idioma</h3>
                 
                    <form class="form p-t-20" 
                    [formGroup]="idiomaForm">  
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="exampleInputuname">Idioma</label>
                                    
                                    <select *ngIf="tipoOperacion==='adicionar'" [class.is-invalid]="campoNoValido('id_idioma')" formControlName="id_idioma" class="form-control custom-select">
                                        <option  value="0">Seleccionar</option>
                                        <option  *ngFor="let idioma of idiomas" value="{{idioma.id}}">{{idioma.nombre}}</option>
                                    </select>
                                    <select disabled *ngIf="tipoOperacion==='modificar'" [class.is-invalid]="campoNoValido('id_idioma')" formControlName="id_idioma" class="form-control custom-select">
                                        <option  value="0">Seleccionar</option>
                                        <option  *ngFor="let idioma of idiomas" value="{{idioma.id}}">{{idioma.nombre}}</option>
                                    </select>
                                    <small *ngIf="campoNoValido('id_idioma')" class="form-control-feedback text-danger">Seleccione un Idioma</small> 
                                
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputuname">Nivel Escrito</label>
                                    
                                    <select [class.is-invalid]="campoNoValido('id_nivel_escrito')" formControlName="id_nivel_escrito" class="form-control custom-select">
                                        <option *ngIf="tipoOperacion==='adicionar'" value="0">Seleccionar</option>
                                        <option *ngFor="let nivel of niveles" value="{{nivel.id}}">{{nivel.nombre}}</option>
                                    </select>
                                    <small *ngIf="campoNoValido('id_nivel_escrito')" class="form-control-feedback text-danger">Seleccione un Nivel escrito</small> 
                                
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputuname">Nivel oral</label> 
                                    <select [class.is-invalid]="campoNoValido('id_nivel_oral')" formControlName="id_nivel_oral" class="form-control custom-select">
                                        <option *ngIf="tipoOperacion==='adicionar'" value="0">Seleccionar</option>
                                        <option *ngFor="let nivel of niveles" value="{{nivel.id}}">{{nivel.nombre}}</option>
                                    </select>
                                    <small *ngIf="campoNoValido('id_nivel_oral')" class="form-control-feedback text-danger">Seleccione un Nivel oral</small> 
                                
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputuname">Nivel Lectura</label>
                                    
                                    <select [class.is-invalid]="campoNoValido('id_nivel_lectura')" formControlName="id_nivel_lectura" class="form-control custom-select">
                                        <option *ngIf="tipoOperacion==='adicionar'" value="0">Seleccionar</option>
                                        <option *ngFor="let nivel of niveles" value="{{nivel.id}}">{{nivel.nombre}}</option>
                                    </select>
                                    <small *ngIf="campoNoValido('id_nivel_lectura')" class="form-control-feedback text-danger">Seleccione un Nivel de lectura</small> 
                                
                                </div>
                            </div>
                        </div>                 
                        <div class="text-center">
                            <button  (click)="guardar()" type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            &nbsp;
                            <button  (click)="cancelarModal()" type="button" class="btn btn-inverse">Cancelar</button>
                        </div>
                  
                    </form>
                </div>
            </div>
        </div>
    </div>
</div> 