
<div class="row animated fadeIn fast">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #txtTermino (keyup)="busqueda(txtTermino.value)" type="text" class="form-control" placeholder="buscar profesion...">
            <div>
        </div>
    </div>
</div>
<div class="row animated fadeIn fast" *ngIf="cargando">
    <div class="col-12">
        <div class="alert alert-info text-center">
            <h4>Cargando...</h4>
            <i class="fa fa-spin fa-refresh fa-2x"></i>
            <p class="mb-0">Por favor espere</p>
        </div>
    </div>
</div>
<div class="row animated fadeIn fast" *ngIf="!cargando">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ocupaciones</h4>
                <h6>Total: {{totalOcupaciones}} - {{desde}}</h6>
                
                <div class="row"> 
                    <div class="col-md-4">
                        <h5 class="m-t-30 m-b-10 text-white">Adicionar</h5>
                        <button [routerLink]="['/profesion/formulario']"
                            [queryParams] = "{'tipo': 'adicionar', 'id': 0}" 
                            class="btn btn-success">
                                 Adicionar
                        </button>
                    </div>
                    <div class="col-md-8">
                        <h5 class="m-t-30 m-b-10">Grupo Ocupacional:</h5>
                        <select [(ngModel)]="id_grupo" (change)="filtrar()" class="form-control" name="" id="">
                            <option value="0">Cualquiera</option>
                            <option *ngFor="let grupo of grupos_ocupacionales" [value]="grupo.id">{{grupo.nombre}}</option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="table-responsive">
                    <table class="table full-color-table full-inverse-table hover-table">
                        <thead>
                            <tr>
                                <th>Num</th>
                                <th>Nombre</th>
                                <th>Grupo Ocupacional</th>
                                <th>Habilitado</th>
                                <th class="w100">Operaciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr  *ngFor="let ocupacion of this.ocupaciones; let i = index">
                                <td align="center">
                                    <span >{{desde + i + 1}}</span>
                                </td>
                                <td>
                                    {{ocupacion.nombre}}
                                </td>
                                <td>
                                    {{ocupacion.grupo_ocupacional.nombre}}
                                </td>
                                <td class="text-center hidden-md-down">
                                    <i *ngIf="ocupacion.habilitado" class="fa fa-thumbs-o-up"></i>
                                    <i *ngIf="!ocupacion.habilitado" class="fa fa-thumbs-o-down"></i>
                                </td>
                                <td class="text-nowrap text-center">
                                    <a [routerLink]="['/profesion/formulario']"
                                        [queryParams] = "{'tipo': 'modificar', 'id': ocupacion.id}"
                                        data-toggle="tooltip"> 
                                            <i class="fa fa-pencil m-r-10"></i> 
                                    </a>
                                    <a (click)="eliminar(ocupacion.id)" class="cursor" data-toggle="tooltip" data-original-title="Eliminar"> <i class="fa fa-close text-danger"></i> </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="text-center" *ngIf="txtTermino.value.length ===0">
                    <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button> 
                    &nbsp;
                    <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                </div>
                
            </div>
        </div>
    </div>
</div>








