
<div class="modal" *ngIf="visible">
    <app-cargando [rowclass]="'row container-modal justify-content-center animated fadeIn fast'" [tamanio]="'col-xl-7 col-lg-10  col-md-10 col-sm-12'" *ngIf="cargando"></app-cargando>
    <div *ngIf="notificacion"> 
        <div class="row container-modal justify-content-center">
            <div class="col-xl-7 col-lg-10  col-md-10 col-sm-12">
               <div class="card bg-dark animated fadeIn fast">
                   <div class="card-header pt-0 pb-0 header-modal">
                    <div class="row justify-content-end">
                        <div class="col-1 pr-0">
                          <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                       </div>
                    </div>
                  </div>
                   <div class="card-body ">
                    <div class="alert alert-danger text-center" role="alert" *ngIf="notificacionEliminada">
                        La notificacion a sido eliminada 
                    </div>
                   <div class="card bg-dark animated fadeIn fast" *ngIf="notificacion">
                       <div class="card-body ">
                            <app-cargando [tamanio]="'col-md-12'" *ngIf="cargando2"></app-cargando>
                            
                            <div class="row animated fadeIn fast">
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <h3 *ngIf="notificacion.tipo_notificacion.tipo === 'postulacion_aceptada'" class="card-title text-center">
                                                    <strong>Usted ha sido aceptado para la vacante: {{notificacion.vacante.titulo}}</strong>
                                                </h3>
                                                <h3 *ngIf="notificacion.tipo_notificacion.tipo === 'postulacion_rechazada_empleador'" class="card-title text-center">
                                                    <strong>Usted ha sido rechazado para la vacante: {{notificacion.vacante.titulo}}</strong>
                                                </h3>
                                                <h3 *ngIf="notificacion.tipo_notificacion.tipo === 'desvinculacion_solicitante'" class="card-title text-center">
                                                    <strong>Su contrato para la vacante {{notificacion.vacante.titulo}} ha terminado</strong>
                                                </h3>
                                                <h3 *ngIf="notificacion.tipo_notificacion.tipo === 'invitacion_postulacion'" class="card-title text-center">
                                                    <strong>Usted ha sido invitado para postular a la vacante: {{notificacion.vacante.titulo}} </strong>
                                                </h3>
                                                <span class="font-weight-bold">Sueldo: </span> {{notificacion.vacante.sueldo.sueldo}} <br>
                                                <span class="font-weight-bold">Periodo de pago: </span> {{notificacion.vacante.periodo_pago.periodo}}<br>
                                                <span class="font-weight-bold">Tipo de Contrato: </span> {{notificacion.vacante.tipo_contrato.tipo}} <br>
                                                <span class="font-weight-bold">Tipo de Jornada: </span> {{notificacion.vacante.tipo_jornada.tipo}} <br>
                                                <span class="font-weight-bold">Horario: </span> {{notificacion.vacante.horario.nombre}} <br>
                                                <span class="font-weight-bold">Fecha de publicacion: </span> <span>{{notificacion.vacante.creado_en | date: 'longDate'}}</span> <br>  
                                                <span class="font-weight-bold">Vacantes Disponibles: </span> <span>{{notificacion.vacante.num_disponibles}}</span> <br>  
                                                <span class="font-weight-bold">Direccion: </span> <span>{{notificacion.vacante.direccion}}</span> <br>                          
                                                <span class="font-weight-bold">Pais: </span> <span>{{notificacion.vacante.ciudad.estado.pais.nombre}}</span> <br>
                                                <span class="font-weight-bold">Ciudad: </span> <span>{{notificacion.vacante.ciudad.nombre}} / {{notificacion.vacante.ciudad.estado.nombre}}</span> <br>
                                                <span class="font-weight-bold">Descripcion: </span> <span>{{notificacion.vacante.descripcion}}</span> <br> 
                                                <hr>
            
                                                <h3 class="card-title text-center"><strong>Requisitos para el cargo</strong> </h3>
                                                <span class="font-weight-bold">Ocupacion: </span> <span>{{notificacion.vacante.requisitos.ocupacion.nombre}}</span> <br>
                                                <span class="font-weight-bold">Años de Experiencia: </span> <span>{{notificacion.vacante.requisitos.experiencia}}</span> <br>
                                                <span class="font-weight-bold">Genero: </span> <span>{{notificacion.vacante.requisitos.genero | genero:notificacion.vacante.requisitos.genero}}</span> <br>
                                                <span class="font-weight-bold">Idiomas: </span> 
                                                 <ul>
                                                     <li *ngFor="let idioma  of notificacion.vacante.requisitos.idiomas"><span>{{idioma.idioma.nombre}}</span>
                                                        <ul>
                                                            <li>Nivel oral: {{idioma.nivel_oral.nombre}}</li>
                                                            <li>Nivel lectura: {{idioma.nivel_lectura.nombre}}</li>
                                                            <li>Nivel escrito: {{idioma.nivel_escrito.nombre}}</li>
                                                        </ul>
                                                    </li>
                                                 </ul>
                                            </div>
                                            
                                          </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12">
                                
                                <div *ngIf="notificacion && notificacion.vacante.empleador.empresa && notificacion.vacante.empleador.empresa" class="card text-light bg-dark mb-3">
                                    <img [src]="notificacion.vacante.empleador.empresa.logo.url" alt="">
                                    <div class="card-body">
                                      <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Empresa: </span> <span>{{notificacion.vacante.empleador.empresa.nombre}} {{notificacion.vacante.empleador.empresa.razon_social.sigla}}</span> <br>
                                      <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Dominio web: </span> <span *ngIf="notificacion.vacante.empleador.empresa.dominio_web">{{notificacion.vacante.empleador.empresa.dominio_web}}</span> <span *ngIf="!notificacion.vacante.empleador.empresa.dominio_web"> No tiene</span><br>
                                      <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Email: </span> <span>{{notificacion.vacante.empleador.credenciales.email}}</span>  <br>
                                      <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Pais: </span> <span>{{notificacion.vacante.empleador.empresa.ciudad.estado.pais.nombre}} / {{notificacion.vacante.ciudad.estado.nombre}}</span> <br>
                                      <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Ciudad: </span> <span>{{notificacion.vacante.empleador.empresa.ciudad.nombre}} / {{notificacion.vacante.empleador.empresa.ciudad.estado.nombre}}</span> <br>
                                      <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Direccion: </span> <span>{{notificacion.vacante.empleador.empresa.direccion}}</span> <br>   
                                      <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Telefono: </span> <span>{{notificacion.vacante.empleador.empresa.telefono}}</span>  <br>                              
                                      <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Descripcion: </span> <span>{{notificacion.vacante.empleador.empresa.descripcion}}</span>  <br> 
                                      
                                     
                                    </div>
                    
                                </div>
                                <div *ngIf="notificacion && !notificacion.vacante.empleador.empresa" class="card text-white bg-dark mb-3">
                                    <img class="img-responsive" [src]="notificacion.vacante.empleador.imagen.url" alt="">
                                    <div class="card-body">  
                                        <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Empleador: </span> <span>{{notificacion.vacante.empleador.nombre}}</span> <br>
                                        <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Genero: </span> <span>{{notificacion.vacante.empleador.genero | genero:notificacion.vacante.empleador.genero}}</span> <br>
                                        <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Nacionalidad: </span> <span>{{notificacion.vacante.empleador.nacionalidad}}</span> <br>
                                        <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Pais: </span> <span>{{notificacion.vacante.empleador.ciudad.estado.pais.nombre}}</span> <br>
                                        <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Ciudad: </span> <span>{{notificacion.vacante.empleador.ciudad.nombre}} / {{notificacion.vacante.empleador.ciudad.estado.nombre}}</span> <br>
                                        <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Direccion: </span> <span>{{notificacion.vacante.empleador.direccion}}</span> <br>   
                                        <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Telefono: </span> <span>{{notificacion.vacante.empleador.telefono}}</span>  <br>                              
                                        <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Email: </span> <span>{{notificacion.vacante.empleador.credenciales.email}}</span>  <br>
                                    </div>
                                </div> 
                              
                                      <button *ngIf="!contratacion && !postulacion && notificacion.tipo_notificacion.tipo != 'postulacion_rechazada_empleador' && notificacion.tipo_notificacion.tipo != 'postulacion_aceptada'" (click)="postular()" class="btn btn-info btn-block mt-2">Postularme</button>                              <!--Solicitante Aceptado para la vacante pero aun no confirmado-->
                                                                
             
                                  
                                      <div *ngIf="postulacion && !postulacion.aceptado && !postulacion.rechazado" class="alert alert-info" role="alert">
                                            Usted ya postuló a la vacante. Seleccione la opcion Cancelar si desea cancelar su postulación.
                                            <button   (click)="cancelar()" class="btn btn-danger btn-block mt-2">Cancelar</button>                             
                                      </div>

                                      <div *ngIf="postulacion && postulacion.aceptado && !postulacion.rechazado  && !contratacion" class="alert alert-info text-justify" role="alert">
                                        Usted fue aceptado para esta vacante. Seleccione Confirmar para concretar el contrato, caso contrario la opción Rechazar.
                                        <button  (click)="confirmar()" class="btn btn-success btn-block mt-2">Confirmar</button> 
                                        <button  (click)="rechazar()" class="btn btn-danger btn-block mt-2">Rechazar</button>            
                                        <button  routerLink="/postulaciones-solicitante" class="btn btn-info btn-block">Ver postulaciones aceptadas</button>                         
               
                                      </div>

                                      <div *ngIf="contratacion && contratacion.habilitado" class="alert alert-info" role="alert">
                                        Usted actualmente está contratado para esta vacante!
                                      </div> 

                                      <div class="alert alert-primary text-justify" role="alert " *ngIf="contratacion && !contratacion.habilitado">
                                         Usted fue contratado para esta vacante. La contratación ha sido terminada.
                                            <button routerLink="/contrataciones-solicitante"  class="btn btn-info btn-block mt-2">Ver contrataciones</button>                           
                                      </div>

                                      <div class="alert alert-primary text-center" role="alert" *ngIf="(postulacion && postulacion.rechazado && postulacion.aceptado)">
                                        Usted ha rechazado esta vacante !
                                        <button routerLink="/postulaciones-rechazadas-solicitante" class="btn btn-info btn-block">Ver postulaciones rechazadas</button>                            

                                      </div>

                                      <div class="alert alert-primary text-justify" role="alert" *ngIf="(postulacion && postulacion.rechazado && !postulacion.aceptado)">
                                        El empleador rechazó su postulacion para esta vacante !
                                        <button routerLink="/postulaciones-rechazadas-solicitante" class="btn btn-info btn-block">Ver postulaciones rechazadas</button>                            
                                      </div>

                                      <button *ngIf="notificacion.tipo_notificacion.tipo === 'invitacion_postulacion' && postulacion && !postulacion.aceptado && !postulacion.rechazado"  routerLink="/postulaciones-pendientes-solicitante" class="btn btn-info btn-block">Ver postulaciones pendientes</button>                              
        
                                      

                                  
                            </div>  
                            </div>
               
                       </div>
                     </div>

           
                   </div>
               </div>

            </div>
        </div>
      
    </div>
</div> 


