<div class="container" >
    <app-cargando [tamanio]="'col-xl-7 col-lg-8 col-md-10 col-sm-12'" *ngIf="cargando"></app-cargando>
    <div class="row justify-content-center" *ngIf="!myModal && !myModal2 && !myModal3">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <button (click)="mostrarModal3()" type="button" class="btn btn-success btn-block">Ver Curriculum</button>
            <div id="2" class="card">
                <div class="card-body">
                    <h2 class="text-center font-weight-bold">Datos del Curriculum</h2>
                 
                    <div class="row justify-content-center">
                        <div class="col">
                            <table *ngIf="curriculum" class="tablesaw table-bordered table-hover table tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-949" style="">
                                <tbody>
                                    <tr>
                                        <td ><strong>Título</strong></td>
                                        <td>{{curriculum.titulo}}</td>                        
                                    </tr>
                                    <tr>
                                        <td> <strong>Pretensión salarial Bs.</strong></td>
                                        <td>{{curriculum.pretension_salarial}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Biografía</strong> </td>
                                        <td>{{curriculum.biografia}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" >
                                            <a (click)="mostrarModal()" class="btn btn-info btn-block text-white"> Modificar datos </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center" *ngIf="!myModal && !myModal2 && !myModal3">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
 
            <div class="card">

                <div class="card-body ">
                   
                    <h2 class="text-center font-weight-bold">Datos Personales</h2>
                   
                    <div class="row justify-content-center">
                        <div class="col">
                            <table *ngIf="solicitante" class="tablesaw table-bordered table-hover table tablesaw-swipe tablesaw-sortable" data-tablesaw-mode="swipe" data-tablesaw-sortable="" data-tablesaw-sortable-switch="" data-tablesaw-minimap="" data-tablesaw-mode-switch="" id="table-949" style="">
                                <tbody>
                                    <tr>
                                        <td ><strong>Nombre</strong></td>
                                        <td> {{solicitante.nombre}}</td>                        
                                    </tr>
                                    <tr>
                                        <td> <strong> Apellidos</strong></td>
                                        <td>{{solicitante.apellidos}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Fecha de nacimiento:</strong> </td>
                                        <td> {{solicitante.fecha_nac | date: 'longDate'}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Edad</strong> </td>
                                        <td> {{solicitante.fecha_nac | fechanac:solicitante.fecha_nac }}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Teléfono</strong> </td>
                                        <td> {{solicitante.telefono}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong> Cédula</strong></td>
                                        <td> {{solicitante.cedula}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong> Complemento CI</strong></td>
                                        <td> {{solicitante.num_complemento_ci}}</td>
                                    </tr>
                                    <tr>
                                        <td> <strong>Género</strong> </td>
                                        <td> {{solicitante.genero | genero:solicitante.genero}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Nacionalidad</strong> </td>
                                        <td>{{solicitante.nacionalidad}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Dirección</strong></td>
                                        <td>{{solicitante.direccion}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Ciudad</strong></td>
                                        <td>{{solicitante.ciudad.nombre}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" >
                                            <a (click)="mostrarModal2()" class="btn btn-info  btn-block text-white"> Modificar datos</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

</div>



<app-formulario-encabezado  [visible]="myModal" 
                            (cerrar)="cerrarModal($event)"
                            (cancelar)="cancelarModal($event)">
</app-formulario-encabezado>

<app-formulario-datos-personales [visible]="myModal2" (cerrar)="cerrarModal2($event)" (cancelar)="cancelarModal2($event)">
</app-formulario-datos-personales>


<app-vista-completo *ngIf="myModal3" [visible]="myModal3" 
                                                    [idSolicitante]= "solicitante.id" 
                                                    [tipoOperacion]="'ver-curriculum'" 
                                                    (cerrar)="cerrarModal3($event)"
                                                    (cancelar)="cancelarModal3($event)"
                                                    >
</app-vista-completo>