
<div class="container">
    <div class="row animated fadeIn fast" *ngIf="cargando">
        <div class="col">
            <div class="alert alert-info text-center">
                <h4>Cargando...</h4> 
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Por favor espere</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="card pt-2 pb-2 bg-dark text-light rounded" >
                <div class="row">
                    <div class="col">
                        <span class="ml-2">Total: {{total}} - {{desde}}</span> 
                    </div>
                    <div class="col">
                        <span class="ml-2">leidas: {{total-noLeidas}}</span> 
                    </div>
                    <div class="col">
                        <span class="ml-2">sin leer: {{noLeidas}}</span> 
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center"  *ngFor="let notificacion of notificaciones; let i = index">
        <div class="col-lg-8  col-md-10 col-sm-12">
            <table class="table">
                <tr class="mb-0"> 
                    <td [class.no-leido]="!notificacion.leido" [class.leido]="notificacion.leido">
                        <a  (click)="leerNotificacion(notificacion.id, notificacion.leido)" class="cursor">
                            <div  class="mail-contnet ">
                                <span class="badge badge-primary"> {{i+1+desde}} </span>
                                <h5 class="ml-5" *ngIf="notificacion.tipo_notificacion.tipo === 'nueva_postulacion'">Nuevo Postulante para {{notificacion.vacante.titulo}} </h5>
                                <h5 class="ml-5" *ngIf="notificacion.tipo_notificacion.tipo === 'postulacion_rechazada_solicitante'">Contratacion rechazada para {{notificacion.vacante.titulo}} </h5>
                                <h5 class="ml-5" *ngIf="notificacion.tipo_notificacion.tipo === 'postulacion_confirmada'">Solicitante confirmado para {{notificacion.vacante.titulo}} </h5>
                                <span class="ml-5">
                                    solicitante:  {{notificacion.solicitante.nombre}} {{notificacion.solicitante.apellidos}}  &nbsp;
                                    ocupacion: {{notificacion.vacante.requisitos.ocupacion.nombre}} 
                                </span>
                                <br> 
                                <h6 class="text-right">{{notificacion.creado_en | date: 'mediumDate'}} {{notificacion.creado_en | date: 'shortTime'}}</h6> 
                            </div>
                        </a>
                    </td>
                    <td [class.no-leido]="!notificacion.leido" [class.leido]="notificacion.leido" align="center">
                        <a class="cursor" (click)="eliminar(notificacion.id)"> <i class="fa fa-trash-o m-r-10 text-info"></i></a>
                    </td>
                </tr>
            </table>  

            
        </div>
    </div>

    <div class="text-center">
        <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button> 
        &nbsp;
        <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
    </div>
</div>

<app-notificacion-empleador *ngIf="myModal" [visible]="myModal" 
                                          [idNotificacion]= "idNotificacion" 
                                          (cerrar)="cerrarModal($event)">
</app-notificacion-empleador>

