
<div class="container-fluid">
    <div class="row animated fadeIn fast">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <input #txtTermino (keyup)="busqueda(txtTermino.value)" type="text" class="form-control" placeholder="buscar administrador...">
                <div>
            </div>
        </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="cargando">
        <div class="col-12">
            <div class="alert alert-info text-center">
                <h4>Cargando...</h4>
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Por favor espere</p>
            </div>
        </div>
    </div>
    <div class="row animated fadeIn fast" *ngIf="!cargando">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Administradores</h4>
                    <h6>Total: {{totalAdministradores}} - {{desde}}</h6>
                    <button [routerLink]="['/administrador/formulario']"
                            [queryParams] = "{'tipo': 'adicionar', 'id': 0}" 
                            class="btn btn-success">
                                Adicionar
                    </button>
                    <br><br>
                    <div class="table-responsive">
                        <table class="table full-color-table full-inverse-table hover-table">
                            <thead>
                                <tr>
                                    <th>Num</th>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Telefono</th>
                                    <th>Cedula</th>
                                    <th>Genero</th>
                                    <th class="w100">Habilitado</th>
                                    <th class="w100">Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let administrador of administradores; let i = index">
                                    <td align="center">
                                        <span >{{desde + i + 1}}</span>
                                    </td>
                                    <td>
                                        {{administrador.nombre}}
                                    </td>
                                    <td>
                                        {{administrador.apellidos}}
                                    </td>
                                    <td>
                                        {{administrador.telefono}}
                                    </td>
                                    <td>
                                        {{administrador.cedula}}
                                    </td>
                                    <td>
                                        {{administrador.genero}}
                                    </td>
                                    <td class="text-center"><span class="label label-danger">{{administrador.habilitado}}</span></td>
                                    <td class="text-nowrap text-center">
                                        <a [routerLink]="['/administrador/formulario']"
                                            [queryParams] = "{'tipo': 'modificar', 'id': administrador.id}"
                                            data-toggle="tooltip" > 
                                                <i class="fa fa-pencil m-r-10"></i> 
                                        </a>
                                        <a  (click)="deshabilitar(administrador.id)" class="cursor" data-toggle="tooltip" data-original-title="Eliminar"> <i class="fa fa-close text-danger"></i> </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center" *ngIf="txtTermino.value.length ===0">
                        <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button> 
                        &nbsp;
                        <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>









