<div class="container animated fadeIn fast">
    <app-cargando [tamanio]="'col-xl-7 col-lg-8 col-md-10 col-sm-12'" *ngIf="cargando"></app-cargando>
    <div class="row justify-content-center" *ngIf="cargarformulario" >
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="text-center font-weight-bold">Datos Personales</h3>

                    <form class="form p-t-20" 
                            [formGroup]="perfilForm"
                            (ngSubmit)="guardar()">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Nombres</label>
                                    <input [class.is-invalid]="campoNoValido('nombre')" formControlName="nombre" class="form-control" type="text" placeholder="Nombres" (keypress)="validacionService.soloLetras($event)" maxlength="45">
                                    <small *ngIf="campoNoValido('nombre')" class="form-control-feedback text-danger">El nombre es obligatorio </small>                        
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Apellidos</label>
                                    <input [class.is-invalid]="campoNoValido('apellidos')" formControlName="apellidos" class="form-control" type="text"  placeholder="Apellidos" (keypress)="validacionService.soloLetras($event)" maxlength="60">
                                    <small *ngIf="campoNoValido('apellidos')" class="form-control-feedback text-danger">Los apellidos son obligatorios </small>        
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputEmail1">Correo electrónico</label>
                                    <input formControlName="email" class="form-control" type="email"  placeholder="Email"> 
                                    <small *ngIf="campoNoValido('email')" class="form-control-feedback text-danger">El email es obligatorio </small>  <br>
                                    <small *ngIf="email()" class="form-control-feedback text-danger">Ingrese un email válido. Ejemplo: tucorreo@ejemplo.com.</small>     
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Teléfono</label>
                                    <input [class.is-invalid]="campoNoValido('telefono')" formControlName="telefono" type="text" class="form-control" placeholder="Teléfono" (keypress)="validacionService.soloNumeros($event)">
                                    <small *ngIf="campoNoValido('telefono')" class="form-control-feedback text-danger">El teléfono es obligatorio</small>
        
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Cédula</label>
                                    <input [class.is-invalid]="campoNoValido('cedula')" formControlName="cedula" type="text" class="form-control" placeholder="Cédula" maxlength="20">
                                    <small *ngIf="campoNoValido('cedula')" class="form-control-feedback text-danger">La cédula de identidad es obligatorio</small> 
        
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label class="control-label">Num Complemento Ci:</label>
                                    <input [class.is-invalid]="campoNoValido('num_complemento_ci')" formControlName="num_complemento_ci" type="text" class="form-control" placeholder="Complemento CI" maxlength="10">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Fecha de Nacimiento (debe ser mayor de 18 años)</label>
                                    <div class="row">
                                        <div class="col-4">
                                            <select [class.is-invalid]="campoNoValido('dia') || validarFecha()" formControlName="dia" class="form-control">
                                                <option value="0">Dia</option>
                                                <option *ngFor="let dia of dias" value="{{dia.id}}">{{dia.valor}}</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select [class.is-invalid]="campoNoValido('mes') || validarFecha()" formControlName="mes"  class="form-control" >
                                                <option value="0">Mes</option>
                                                <option *ngFor="let mes of meses" value="{{mes.id}}">{{mes.valor}}</option>
                                            </select>
                                        </div>
                                        <div class="col-4">
                                            <select [class.is-invalid]="campoNoValido('anio') || validarFecha()" formControlName="anio" class="form-control" >
                                                <option value="0">Año</option>
                                                <option *ngFor="let anio of anios" value="{{anio.id}}">{{anio.valor}}</option>
                                            </select>    
                                        </div>
                                        <div class="col-12">
                                            <small *ngIf="validarFecha()" class="form-control-feedback text-danger">Seleccione una fecha valida, debe tener 18 años cumplidos</small>
                                        </div>  

                                    </div> 

                                </div>
                                                                      
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Género</label>
                                        <select formControlName="genero" class="form-control custom-select">
                                            <option value="M">Masculino</option>
                                            <option value="F">Fememaxo</option>
                                        </select>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Nacionalidad</label>
                                    <input [class.is-invalid]="campoNoValido('nacionalidad')" formControlName="nacionalidad" type="text" class="form-control" placeholder="Nacionalidad" (keypress)="validacionService.soloLetras($event)" maxlength="20">
                                    <small *ngIf="campoNoValido('nacionalidad')" class="form-control-feedback text-danger">La nacionalidad es Obligatoria</small> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Estado civil</label>
                                    <select formControlName="id_estado_civil" class="form-control custom-select">
                                        <option *ngFor="let estado_civil of estados_civiles" value="{{estado_civil.id}}">{{estado_civil.estado}}</option>
                                    </select>
                                    <small *ngIf="selectNoValido('id_estado_civil')" class="form-control-feedback text-danger">Seleccione un estado civil</small> 
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Dirección</label>
                                    <input [class.is-invalid]="campoNoValido('direccion')" formControlName="direccion" type="text" class="form-control" placeholder="Dirección" (keypress)="validacionService.direccion($event)" maxlength="45">
                                    <small *ngIf="campoNoValido('direccion')" class="form-control-feedback text-danger">La dirección es Obligatoria</small> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>País</label>   
                                    <ng-select 
                                               notFoundText = "País no encontrado"
                                               [clearable]="false"
                                               placeholder="Seleccionar País"
                                               appendTo="body"
                                               formControlName="id_pais">
                                               <ng-option [value]= "pais.id" *ngFor="let pais of paises">
                                                {{pais.nombre}}
                                              </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_pais')" class="form-control-feedback text-danger">Seleccione un país</small> 
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <ng-select 
                                               placeholder="Seleccionar Ciudad"
                                               [clearable]="false"
                                               appendTo="body"
                                               notFoundText = "ciudad no encontrada"
                                               formControlName="id_ciudad">
                                               <ng-option [value]= "ciudad.id" *ngFor="let ciudad of ciudades">
                                                 {{ciudad.nombre}} / {{ciudad.estado.nombre}}
                                               </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_ciudad')" class="form-control-feedback text-danger">Seleccione una ciudad</small> 
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <br>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            &nbsp;
                            <button  routerLink="/inicio-solicitante" type="button" class="btn btn-inverse">Cancelar</button>
                        </div>   
                        
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>



