
<div class="container animated fadeIn fast">
    <app-cargando [tamanio]="'col-xl-7 col-lg-8 col-md-10 col-sm-12'" *ngIf="cargando"></app-cargando>
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form class="form p-t-20" 
                            [formGroup]="passwordForm">
                            <h3 class="text-center">Cambiar Contraseña</h3>
                            <hr>
                            <span class="font-weight-bold">Rol: </span> {{rol | titlecase}} <br>
                            <span class="font-weight-bold">Nombre: </span> {{this.nombreCompleto}}<br>
                        <div class="form-group mt-3">
                            <label for="exampleInputuname">Contraseña anterior:</label>
                            <input [class.is-invalid]="campoNoValido('password_antiguo') || alerta" formControlName="password_antiguo" class="form-control" type="password"  placeholder="Password">
                            <small *ngIf="campoNoValido('password_antiguo')" class="form-control-feedback text-danger">La contraseña anterior es obligatoria</small>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputuname">Contraseña nueva:</label>
                            <input [class.is-invalid]="campoNoValido('password_nuevo')" formControlName="password_nuevo"  class="form-control" type="password"  placeholder="Password">
                            <small *ngIf="campoNoValido('password_nuevo')" class="form-control-feedback text-danger">La contraseña nueva es obligatoria</small> 
                        </div>
                        <div class="form-group">
                            <label class="control-label">Confirmar contraseña:</label>
                            <input [class.is-invalid]="campoNoValido('password2') || contrasenasNovalidas()" formControlName="password2" class="form-control" type="password"  placeholder="Confirmar password">
                            <small *ngIf="campoNoValido('password2')" class="form-control-feedback text-danger">La confirmacion de la contraseña es obligatoria</small>
                            <small *ngIf="contrasenasNovalidas()" class="form-control-feedback text-danger"> Las contraseñas deben ser iguales</small>
                        </div>
                        <hr>
                        <div class="text-center">
                            <button  (click)="guardar()" type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar  
                            </button>
                            &nbsp;
                            <button  routerLink="/dashboard" type="button" class="btn btn-inverse">Cancelar</button>
                        </div>
                        
                </form>
                </div>
            </div>  
        </div>
      </div>
</div>
