<div class="modal" *ngIf="visible">
    <app-cargando [tamanio]="'col-xl-6 col-lg-6 col-md-7 col-sm-12'" [rowclass]="'row justify-content-center container-modal animated fadeIn fast'" *ngIf="cargando"></app-cargando>
    <div class="row justify-content-center container-modal animated fadeIn fast">
      <div class="col-xl-6 col-lg-6 col-md-7 col-sm-12" *ngIf="administrador">
          <div class="card rounded">
              <div class="card-header pt-0 pb-0 header-modal">
                <div class="row justify-content-end">
                    <div class="col-1 pr-0">
                      <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                   </div>
                </div>
              </div>
              <div class="card-body">
                  <div class="row">
                    <div class="col">
                      <h3 class="text-center">Datos del Administrador</h3>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <span class="font-weight-bold">Nombre: </span> {{administrador.nombre}} {{administrador.apellidos}} <br>
                      <span class="font-weight-bold">Correo electronico: </span> {{administrador.credenciales.email}} <br>
                      <span class="font-weight-bold">Teléfono: </span> {{administrador.telefono}} <br> 
                      <span class="font-weight-bold">Cedula de Identidad: </span> {{administrador.cedula}} <br>
                      <span class="font-weight-bold">Complemento CI: </span> {{administrador.num_complemento_ci}} <br>
                      <span class="font-weight-bold">Género: </span> {{administrador.genero | genero: administrador.genero}} <br>
                      <span class="font-weight-bold">Habilitado: </span> {{administrador.habilitado}} <br>
                      <span class="font-weight-bold">Ciudad: </span> {{administrador.nombre}} <br>
                      <span class="font-weight-bold">Dirección: </span> {{administrador.direccion}} <br>
                      <span class="font-weight-bold">Pais: </span> {{administrador.ciudad.estado.pais.nombre}} <br> 
                    </div>
                    <div class="col">
                      <img  class="img-responsive rounded" [src]="administrador.imagen.url" alt="">
                    </div>
                  </div>
                            
              </div>
          </div>
      </div>
    </div>
</div>