<div class="container-fluid animated fadeIn fast">
    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <form *ngIf="cargarformulario" class="form p-t-20" 
                            [formGroup]="perfilForm"
                            (ngSubmit)="guardar()">
                            <div class="form-body">
                                
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <h3>Datos de la Empresa</h3>
                                        <hr>
                                    </div>
                                </div>
                                <hr>
                                <div  class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Empresa:</label>
                                            <input [class.is-invalid]="campoNoValido('nombre')" formControlName="nombre" type="text" class="form-control" placeholder="Nombre de la empresa">
                                            <small *ngIf="campoNoValido('nombre')" class="form-control-feedback text-danger">El nombre de la empresa es obligatorio</small> 
                                        </div>
                                    </div>
                                    <!--/span-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Dominio Web:</label>
                                            <input formControlName="dominio_web" type="text" class="form-control" placeholder="Dominio web">
                                        </div>
                                    </div>
                                    <!--/span-->
                                </div> 
                                <div class="row">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label>Direccion</label>
                                            <input [class.is-invalid]="campoNoValido('direccion')" formControlName="direccion" type="text" class="form-control" placeholder="Direccion">
                                            <small *ngIf="campoNoValido('direccion')" class="form-control-feedback text-danger">La direccion de la empresa es Obligatoria</small> 
                                        </div>
                                    </div>
                                    <div  class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Telefono:</label>
                                            <input [class.is-invalid]="campoNoValido('telefono')" formControlName="telefono" type="text" class="form-control" placeholder="Telefono">
                                            <small *ngIf="campoNoValido('telefono')" class="form-control-feedback text-danger">El telefono de la empresa es obligatorio</small>
                                        </div>
                                    </div>
                                </div> 
                                <div  class="row">
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label>Descripcion</label>
                                            <textarea [class.is-invalid]="campoNoValido('descripcion')" formControlName="descripcion" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
                                            <small *ngIf="campoNoValido('descripcion')" class="form-control-feedback text-danger">La descripcion de la empresa es Obligatoria</small> 
                                        </div>
                                    </div>
                                </div>        
                            </div>
                            <div  class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Pais</label>
                                        <select [class.is-invalid]="selectNoValido('id_pais')" formControlName="id_pais" class="form-control custom-select">
                                            <option value="0">Seleccionar</option>
                                            <option *ngFor="let pais of paises" value="{{pais.id}}">{{pais.nombre}}</option>
                                        </select>
                                        <small *ngIf="selectNoValido('id_pais')" class="form-control-feedback text-danger">Seleccione un pais</small> 
    
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>Ciudad</label>
                                        <select [class.is-invalid]="selectNoValido('id_ciudad')" formControlName="id_ciudad" class="form-control custom-select">
                                            <option *ngFor="let ciudad of ciudades" value="{{ciudad.id}}">{{ciudad.nombre}} / {{ciudad.estado.nombre}}</option>
                                        </select>
                                        <small *ngIf="selectNoValido('id_ciudad')" class="form-control-feedback text-danger">Seleccione una ciudad</small> 
                                    </div>
                                </div>
                                
                                <!--/span-->
                            </div>
                            <hr>
                            <div class="row animated fadeIn fast" *ngIf="cargandoFormulario">
                                <div class="col-12">
                                    <div class="alert alert-info text-center">
                                        <h4>Guardando...</h4>
                                        <i class="fa fa-spin fa-refresh fa-2x"></i>
                                        <p class="mb-0">Por favor espere</p>
                                    </div>
                                </div>
                            </div> 
                            <div class="form-actions text-center">
                                <button (click)="guardar()"  class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                                &nbsp;
                                <button  routerLink="/dashboard" type="button" class="btn btn-inverse">Cancelar</button>
                            </div> 
                        
                    </form>
                </div>
            </div>
        </div>
        <div *ngIf="cargarformulario" class="col-lg-4">
            <div class="card">
                <div class="card-body" align="center">
                    <h4 class="card-title">Logo de la Empresa</h4>
    
                    <img *ngIf="!imagenTemp" [src]="empresa.logo.url" class="w150">
                    <img *ngIf="imagenTemp" [src]="imagenTemp"  class="w150" width="500px">
                    <input (change)="seleccionImagen( $event.target.files[0] )" type="file">
                    <br>
                    <br>
                    <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Actualizar foto
                    </button>
                    <br>
                    <br>
                    <div *ngIf="cargandoLogo" class="alert alert-info text-center animated fadeIn fast">
                        <h4>Subiendo imagen...</h4>
                        <i class="fa fa-spin fa-refresh fa-2x"></i>
                        <p class="mb-0">Por favor espere</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
