<div class="modal" *ngIf="visible">
    <app-cargando [tamanio]="'col-xl-7 col-lg-8 col-md-10 col-sm-12'" [rowclass]="'row justify-content-center container-modal animated fadeIn fast'" *ngIf="cargandoModal"></app-cargando>

    <div class="row container-modal animated fadeIn fast justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
          <div class="card rounded">
              <div class="card-header pt-0 pb-0 header-modal">
                <div class="row justify-content-end">
                    <div class="col-1 pr-0">
                      <a class="cursor float-right" (click)="cancelarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                   </div>
                </div>
              </div>
              <div class="card-body">
                <app-cargando [tamanio]="'col'" *ngIf="cargando"></app-cargando>
                <h3 class="text-center">{{tipoOperacion | titlecase}} Ocupacion</h3>
                <hr>
                <form *ngIf="cargarformulario" class="form p-t-20" 
                [formGroup]="ocupacionForm">  
                    <div class="form-group">
                        <label for="exampleInputuname">Nombre:</label>
                        <input [class.is-invalid]="campoNoValido('nombre')" formControlName="nombre" class="form-control" type="text" placeholder="Nombre">
                        <small *ngIf="campoNoValido('nombre')" class="form-control-feedback text-danger">El nombre es obligatorio </small>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Grupo Ocupacional</label>
                        <ng-select 
                                   placeholder="Seleccionar Grupo ocupacional"
                                   appendTo="body"
                                   [clearable] = "false"
                                   notFoundText = "grupo no encontrado"
                                   formControlName="id_grupo_ocupacional">
                                   <ng-option [value]= "grupo.id" *ngFor="let grupo of gruposOcupacionales" [value]="grupo.id">{{grupo.nombre}}
                                   </ng-option>
                        </ng-select>
                        <small *ngIf="campoNoValido('id_grupo_ocupacional')" class="form-control-feedback text-danger">Seleccione un grupo</small> 
                    </div> 
    <!--                <div class="form-group">
                        <label for="exampleInputuname">Codigo:</label>
                        <input [class.is-invalid]="campoNoValido('codigo')" formControlName="codigo" class="form-control" type="text" placeholder="Nombre">
                        <small *ngIf="campoNoValido('codigo')" class="form-control-feedback text-danger">El codigo es obligatorio </small>
                    </div> 
    -->              
    <!--                <div class="form-group">
                        <label for="exampleInputuname">Habilitado</label>

                        <select formControlName="habilitado" class="form-control custom-select">
                            <option value="true">verdadero</option>
                            <option value="false">falso</option>
                        </select>

                    </div>
    -->                <div class="text-center">
                        <button  (click)="guardar()" type="submit" class="btn btn-success waves-effect waves-light">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                        &nbsp;
                        <button  (click)="cancelarModal()" type="button" class="btn btn-inverse">Cancelar</button>
                    </div>
              
                </form>
              </div>
          </div>
      </div>
    </div>
</div> 