<div class="modal" *ngIf="visible">
  <app-cargando [rowclass]="'row container-modal justify-content-center animated fadeIn fast'" [tamanio]="'col-xl-4 col-lg-5 col-md-8 col-sm-12'" *ngIf="cargandoModal"></app-cargando>

  <div class="row container-modal animated fadeIn fast justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-8 col-sm-12">
          <div class="card rounded">
              <div class="card-header pt-0 pb-0 header-modal">
                <div class="row justify-content-end">
                    <div class="col-1 pr-0">
                      <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                   </div>
                </div>
              </div>
              <div class="card-body" *ngIf="referencia">
                    <h3 class="text-center">Referencia Laboral</h3>
                    <hr>
                    <span class="font-weight-bold">Nombre: </span> {{referencia.nombre}} <br>
                    <span class="font-weight-bold">Apellidos: </span> {{referencia.apellidos}}<br>
                    <span class="font-weight-bold">Empresa: </span> {{referencia.empresa}} <br> 
                    <span class="font-weight-bold">Cargo: </span> {{referencia.cargo}} <br>
                    <span class="font-weight-bold">Telefono: </span> {{referencia.telefono}} <br>
                   
              </div>
          </div>
      </div>
  </div>
</div> 



