<div class="modal" *ngIf="visible">
    <div class="row justify-content-center container-modal animated fadeIn fast">
      <div class="col-xl-4 col-lg-5 col-md-7 col-sm-12" *ngIf="administrador">
          <div class="card rounded">
              <div class="card-header pt-0 pb-0 header-modal">
                <div class="row justify-content-end">
                    <div class="col-1 pr-0">
                      <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                   </div>
                </div>
              </div>
              <div class="card-body">
                  <h3 class="text-center">Datos del Administrador</h3>
                  <span class="font-weight-bold">Nombre: </span> {{administrador.nombre}} {{administrador.apellidos}} <br>
                  <span class="font-weight-bold">Correo electronico: </span> {{administrador.credenciales.email}} <br>
                  <span class="font-weight-bold">Telefono: </span> {{administrador.telefono}} <br> 
                  <span class="font-weight-bold">Cedula: </span> {{administrador.cedula}} <br>
                  <span class="font-weight-bold">Genero: </span> {{administrador.genero}} <br>
                  <span class="font-weight-bold">Habilitado: </span> {{administrador.habilitado}} <br>
                  <span class="font-weight-bold">Ciudad: </span> {{administrador.nombre}} <br>
                  <span class="font-weight-bold">Direccion: </span> {{administrador.direccion}} <br>
                  <span class="font-weight-bold">Pais: </span> {{administrador.ciudad.estado.pais.nombre}} <br>           
              </div>
          </div>
      </div>
    </div>
</div>