<div class="container-fluid">
    <app-cargando [tamanio]="'col-12'" *ngIf="cargando"></app-cargando>
    <div class="row animated fadeIn fast">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h2><span class="badge badge-info">Mis Contrataciones</span></h2>

                    <h6>Total: {{totalContrataciones}} - {{desde}}</h6>
                    <div class="row justify-content-end">
                        <div class="col-md-6">
                            <input #txtTermino (keyup)="busqueda(txtTermino.value)" type="text" class="form-control" placeholder="buscar contratación...">
                        </div>
                    </div>
                    <br><br>
                    <div class="table-responsive">
                        <table class="table full-color-table full-inverse-table hover-table">
                            <thead>
                                <tr>
                                    <th>Num</th>
                                    <th>Contratado en:</th>
                                    <th>Empleador / Empresa</th>
                                    <th>Ocupación</th>
                                    <th>Vacante</th>
                                    <th>habilitado</th>
                                    <th class="w100 text-center">ver</th>
                                    <th class="w100 text-center">eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let contratacion of contrataciones; let i = index">
                                    <td align="center">
                                        <span >{{desde + i + 1}}</span>
                                    </td>
                                    <td>
                                        {{contratacion.creado_en | date: 'medium'}}
                                    </td>
                                    <td>
                                        <span *ngIf="contratacion.vacante.empleador.empresa">
                                            {{contratacion.vacante.empleador.empresa.nombre}} {{contratacion.vacante.empleador.empresa.razon_social.sigla}}
                                        </span>
                                        <span *ngIf="!contratacion.vacante.empleador.empresa">
                                            {{contratacion.vacante.empleador.nombre}} {{contratacion.vacante.empleador.apellidos}}
                                        </span>                                    </td>
                                    <td>
                                        {{contratacion.vacante.requisitos.ocupacion.nombre}} 
                                    </td>
                                    <td>
                                        {{contratacion.vacante.titulo}}
                                    </td>
                                    <td class="text-center">
                                        <i *ngIf="contratacion.habilitado" class="fa  fa-thumbs-up text-info"></i>
                                        <i *ngIf="!contratacion.habilitado" class="fa  fa-thumbs-down text-secondary"></i>
                                    </td>
                                    <td class="text-nowrap text-center">
                                        <a class="cursor" (click)="mostrarModal(contratacion.vacante.id)"> 
                                            <i class="fa fa-eye"></i> 
                                        </a> 
                                    </td>
                                    <td class="text-nowrap text-center">  
                                        <span *ngIf="contratacion.habilitado"><i class="fa fa-minus"></i></span>              
                                        <a class="cursor" *ngIf="!contratacion.habilitado" (click)="eliminar(contratacion.id)" > <i class="fa fa-trash-o text-info"></i></a>                 
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center" *ngIf="txtTermino.value.length ===0">
                        <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button> 
                        &nbsp;
                        <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>

<app-vacantes-solicitante *ngIf="myModal" [visible]="myModal" 
                                          [idVacante]= "idVacante" 
                                          (cerrar)="cerrarModal($event)">
</app-vacantes-solicitante>








