<div class="modal" *ngIf="visible">
    <div class="row container-modal animated fadeIn fast justify-content-center">
      <div class="col-xl-4 col-lg-5 col-md-8 col-sm-12">
          <div class="card rounded">
              <div class="card-header pt-0 pb-0 header-modal">
                <div class="row justify-content-end">
                    <div class="col-1 pr-0">
                      <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                   </div>
                </div>
              </div>
              <div class="card-body" *ngIf="experiencia">
                    <h3 class="text-center">Experiencia Laboral</h3>
                    <hr>
                    <span class="font-weight-bold">Empresa: </span> {{experiencia.empresa}} <br>
                    <span class="font-weight-bold">Puesto: </span> {{experiencia.puesto}}<br>
                    <span class="font-weight-bold">Descripcion: </span> {{experiencia.descripcion}} <br> 
                    <span class="font-weight-bold">Fecha de Inicio: </span> {{experiencia.fecha_inicio | date: 'longDate'}} <br>
                    <span class="font-weight-bold">Fecha de Finalizacion: </span> {{experiencia.fecha_fin | date: 'longDate'}} <br>
                    <span *ngIf="!experiencia.otraCiudad" class="font-weight-bold">Pais: </span> <span *ngIf="!experiencia.otraCiudad">{{experiencia.ciudad.estado.pais.nombre}} </span> <br *ngIf="!experiencia.otraCiudad">
                    <span *ngIf="!experiencia.otraCiudad" class="font-weight-bold">Ciudad - Estado: </span> <span *ngIf="!experiencia.otraCiudad"> {{experiencia.ciudad.nombre}} - {{experiencia.ciudad.estado.nombre}}</span> <br *ngIf="!experiencia.otraCiudad">
                    <span *ngIf="experiencia.otraCiudad" class="font-weight-bold">Pais: </span> <span *ngIf="experiencia.otraCiudad"> {{experiencia.otraCiudad.pais}} </span><br *ngIf="experiencia.otraCiudad">
                    <span *ngIf="experiencia.otraCiudad" class="font-weight-bold">Ciudad - Estado: </span><span *ngIf="experiencia.otraCiudad">{{experiencia.otraCiudad.ciudad}} - {{experiencia.otraCiudad.estado}}</span> <br *ngIf="experiencia.otraCiudad">
              
                    <span class="font-weight-bold">Tipo de Contrato: </span> {{experiencia.tipo_contrato.tipo}} <br>
              </div>
          </div>
      </div>
    </div>
</div> 


