<div class="container">
    <div class="row justify-content-center">
        <div *ngIf="administrador" class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body" align="center">
                    <h3 class="card-title">Foto de perfil</h3>
    
                    <img *ngIf="!imagenTemp" [src]="administrador.imagen.url" class="img-circle img-responsive">
                    <img *ngIf="imagenTemp" [src]="imagenTemp"  class="img-circle img-responsive">
                    <input (change)="seleccionImagen( $event.target.files[0] )" type="file">
                    <br>
                    <br>
                    <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-success waves-effect waves-light m-r-10">
                        <i class="fa fa-save"></i>
                        Actualizar foto
                    </button>
                    <br>
                    <br>
                    <div *ngIf="cargando" class="alert alert-info text-center animated fadeIn fast">
                        <h4>Subiendo imagen...</h4>
                        <i class="fa fa-spin fa-refresh fa-2x"></i>
                        <p class="mb-0">Por favor espere</p>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
</div>
