
<div class="modal" *ngIf="visible">
    <div class="row container-modal justify-content-center animated fadeIn fast">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card rounded">

                <div class="card-header pt-0 pb-0 header-modal">
                    <div class="row justify-content-end">
                        <div class="col-1 pr-0">
                          <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                       </div>
                    </div>
                </div>
                <div class="card-body">
                    <h3 class="text-center">Modificar Datos del Curriculum</h3>
                    <hr>
                    <form *ngIf="cargarFormulario" class="form p-t-20" 
                            [formGroup]="curriculumForm">
                        <div class="form-group">
                            <label for="exampleInputuname">Titulo</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input [class.is-invalid]="campoNoValido('titulo')" formControlName="titulo" class="form-control" type="text" placeholder="Titulo">
                            </div>
                            <small *ngIf="campoNoValido('titulo')" class="form-control-feedback text-danger">El titulo es Obligatorio</small> 
                        </div>
                        <div class="form-group">
                            <label for="exampleInputuname">Pretension Salarial Bs.</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <input [class.is-invalid]="campoNoValido('pretension_salarial')" formControlName="pretension_salarial" class="form-control" type="number" placeholder="Pretension salarial">
                            </div>
                            <small *ngIf="campoNoValido('pretension_salarial')" class="form-control-feedback text-danger">La pretension salarial es Obligatoria</small> 
                        </div>
                        <div class="form-group">
                            <label for="exampleInputuname">Biografia</label>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="ti-user"></i></div>
                                <textarea [class.is-invalid]="campoNoValido('biografia')" formControlName="biografia" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <small *ngIf="campoNoValido('biografia')" class="form-control-feedback text-danger">La biografia es Obligatoria</small> 
                        </div>
                        <div class="text-center">
                            <button  (click)="guardar()" type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar  
                            </button>
                            &nbsp;
                            <button (click)="cancelarModal()" type="button" class="btn btn-inverse">Cancelar</button>
                        </div>
                        
                    </form>
                </div>
            </div>
        </div>
      </div>
</div> 
