
<div class="modal" *ngIf="visible">
      <app-cargando [rowclass]="'row container-modal justify-content-center animated fadeIn fast'" [tamanio]="'col-xl-7 col-lg-8 col-md-10 col-sm-12'" *ngIf="cargandoModal"></app-cargando>

      <div *ngIf="!cargandoModal" class="row justify-content-center container-modal animated fadeIn fast">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card rounded">
                <div class="card-header pt-0 pb-0 header-modal">
                    <div class="row justify-content-end">
                        <div class="col-1 pr-0">
                          <a class="cursor float-right" (click)="cancelarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                       </div>
                    </div>
                </div>
                <div class="card-body">
                    <app-cargando [tamanio]="'col-12'" *ngIf="cargando"></app-cargando>
                    <h3 class="text-center">{{tipo | titlecase}} Experiencia Laboral</h3>
                    <hr>
                    <form class="form p-t-20" 
                            [formGroup]="experienciaForm">
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Empresa:</label>
                                    <input [class.is-invalid]="campoNoValido('empresa')" formControlName="empresa" class="form-control" type="text" placeholder="Empresa">
                                    <small *ngIf="campoNoValido('empresa')" class="form-control-feedback text-danger">La empresa es obligatoria </small>
                                </div>
                            </div>
                           
                        </div>  
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Puesto:</label>
                                    <input [class.is-invalid]="campoNoValido('puesto')" formControlName="puesto" class="form-control" type="text" placeholder="Puesto">
                                    <small *ngIf="campoNoValido('puesto')" class="form-control-feedback text-danger">El puesto es obligatorio </small>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label class="control-label">Tipo de Contrato</label>
                                    <select [class.is-invalid]="campoNoValido('id_tipo_contrato')" formControlName="id_tipo_contrato" class="form-control custom-select">
                                        <option *ngIf="tipo==='adicionar'" value="0">Seleccionar</option>
                                        <option *ngFor="let tipo of tipoContratos" [value]="tipo.id">{{tipo.tipo}}</option>
                                    </select>
                                    <small *ngIf="campoNoValido('id_tipo_contrato')" class="form-control-feedback text-danger">Seleccione un Tipo de contrato</small> 
                                </div>
                                
                            </div>
                           
                        </div>  
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Fecha de inicio</label>
                                   
                                    <input [class.is-invalid]="campoNoValido('fecha_inicio')" formControlName="fecha_inicio"  type="date" class="form-control" placeholder="dd/mm/yyyy">
                                    <small *ngIf="campoNoValido('fecha_inicio')" class="form-control-feedback text-danger">La fecha de inicio es obligatoria </small>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Fecha de finalizacion</label>
                                    <input [class.is-invalid]="campoNoValido('fecha_fin')" formControlName="fecha_fin"  type="date" class="form-control" placeholder="dd/mm/yyyy">
                                    <small *ngIf="campoNoValido('fecha_fin')" class="form-control-feedback text-danger">La fecha de finalizacion es obligatoria </small>
                                </div>
                            </div>
                            
                        </div>  
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Pais</label>
                                    <ng-select 
                                          notFoundText = "Pais no encontrado"
                                          placeholder="Seleccionar Pais"
                                          [clearable] = "false"
                                          appendTo="body"
                                          (change)="cambiarPais()"
                                          formControlName="id_pais">
                                          <ng-option [value]= "pais.id" *ngFor="let pais of paises">
                                           {{pais.nombre}}
                                         </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_pais')" class="form-control-feedback text-danger">Seleccione un pais</small> 
                                
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="!mostrarCampos">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <ng-select 
                                               placeholder="Seleccionar Ciudad"
                                               appendTo="body"
                                               [clearable]="false"
                                               notFoundText = "ciudad no encontrada"
                                               formControlName="id_ciudad">
                                               <ng-option [value]= "ciudad.id" *ngFor="let ciudad of ciudades">
                                                 {{ciudad.nombre}} / {{ciudad.estado.nombre}}
                                               </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_ciudad')" class="form-control-feedback text-danger">Seleccione una ciudad</small> 
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="mostrarCampos">
                                <div class="form-group">
                                    <label class="text-white" for="exampleInputuname">Pais:</label>
                                    <input [class.is-invalid]="campoNoValido('pais')" formControlName="pais" class="form-control" type="text" placeholder="Ingrese el nombre del pais">
                                    <small *ngIf="campoNoValido('pais')" class="form-control-feedback text-danger">El pais es obligatorio </small>
                                </div>
                            </div>
                        </div>  
                        <div class="row p-t-20" *ngIf="mostrarCampos">
                        
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Estado/departamento:</label>
                                    <input [class.is-invalid]="campoNoValido('estado')" formControlName="estado" class="form-control" type="text" placeholder="Estado">
                                    <small *ngIf="campoNoValido('estado')" class="form-control-feedback text-danger">El estado es obligatorio </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">ciudad:</label>
                                    <input [class.is-invalid]="campoNoValido('ciudad')" formControlName="ciudad" class="form-control" type="text" placeholder="Ciudad">
                                    <small *ngIf="campoNoValido('ciudad')" class="form-control-feedback text-danger">La ciudad es obligatoria </small>
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Descripcion:</label>
                                    <textarea [class.is-invalid]="campoNoValido('descripcion')" formControlName="descripcion" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3"></textarea>
                                    <small *ngIf="campoNoValido('descripcion')" class="form-control-feedback text-danger">La descripcion es obligatoria </small>
                                </div>
                            </div>
                            
                        </div>                
                        <div class="text-center">
                            <button  (click)="guardar()" type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            &nbsp;
                            <button  (click)="cancelarModal()" type="button" class="btn btn-inverse">Cancelar</button>
                        </div>
                          
                    </form>
                </div>
            </div>
        </div>
      </div>
</div> 