<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-9  col-md-10 col-sm-12">
            <div class="row animated fadeIn fast" *ngIf="cargando">
                <div class="col-12">
                    <div class="alert alert-info text-center">
                        <h4>Cargando...</h4> 
                        <i class="fa fa-spin fa-refresh fa-2x"></i>
                        <p class="mb-0">Por favor espere</p>
                    </div>
                </div>
            </div>
            <div class="alert alert-danger text-center" role="alert" *ngIf="notificacionEliminada">
                La notificacion a sido eliminada 
            </div>
           <div class="card bg-dark animated fadeIn fast" *ngIf="notificacion">
               <div class="card-body ">
                
                <div class="row">
                    <div class="col">
                        <div class="alert alert-info text-center" role="alert" *ngIf="!postulacion && !contratacion && notificacion.tipo_notificacion.id != 7 ">
                            La postulacion a sido eliminada 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="alert alert-info text-center" role="alert" *ngIf="postulacion && postulacion.aceptado && !postulacion.rechazado">
                            Ha sido aceptado para la vacante!
                        </div>
                        <div class="alert alert-info text-center" role="alert" *ngIf="(postulacion && postulacion.rechazado && postulacion.aceptado)">
                            Usted ha rechazado la vacante !
                        </div>
                        <div class="alert alert-info text-center" role="alert" *ngIf="(postulacion && postulacion.rechazado && !postulacion.aceptado)">
                            Usted ha sido rechazado para la vacante !
                        </div>
                        <div class="alert alert-info text-center" role="alert" *ngIf="contratacion && !contratacion.habilitado">
                            Su contrato a terminado !
                        </div>
                        <!--Alerta cuando el solicitante esta ocupado y cuando el objeto contratacion no es nulo (cuando el solicitante confirma el contrato)-->
                        <div *ngIf="ocupado && contratacion" class="alert alert-primary" role="alert">
                          Usted ha sido contratado para esta vacante!
                        </div>    
                        <!--Alerta cuando el solicitante esta ocupado pero no postulo ni fue contratado para esta vacante-->
                        <div *ngIf="!contratacion && !postulacion && ocupado" class="alert alert-danger" role="alert">
                          Usted tiene un empleo asignado, contacte a su empleador para terminar con su contrato
                        </div>                              
                        <!--Alerta cuando el solicitante esta ocupado -- posible eliminacion del siguinete bloque de alerta-->
                        <div *ngIf="!contratacion && postulacion && ocupado" class="alert alert-danger" role="alert">
                          Usted tiene un empleo asignado, contacte a su empleador para terminar con su contrato
                        </div>
                                                      
                    </div>
                </div>
                <div class="row animated fadeIn fast">
                    <div class="col-lg-7 col-md-7 col-sm-12">
                        <div class="row">
                            <div class="col">
                                <div class="card mb-3">
                                    <div class="card-body">
                                        <h3 class="card-title text-center"><strong>Vacante: {{notificacion.vacante.titulo}}</strong> </h3>
                                        <span class="font-weight-bold">Fecha de publicacion: </span> <span>{{notificacion.vacante.creado_en | date: 'longDate'}}</span> <br>   
                                        <span class="font-weight-bold">Direccion: </span> <span>{{notificacion.vacante.direccion}}</span> <br>    
                                        <span class="font-weight-bold">Pais: </span> <span>{{notificacion.vacante.ciudad.estado.pais.nombre}}</span> <br>
                                        <span class="font-weight-bold">Ciudad: </span> <span>{{notificacion.vacante.ciudad.nombre}} / {{notificacion.vacante.ciudad.estado.nombre}}</span> <br>
                                        <span class="font-weight-bold">Vacantes Disponibles: </span> <span>{{notificacion.vacante.num_disponibles}}</span> <br>
                                        <span class="font-weight-bold">Horario: </span> <span>{{notificacion.vacante.horario.nombre}}</span> <br>   
                                        <span class="font-weight-bold">Tipo de Contrato: </span> <span>{{notificacion.vacante.tipo_contrato.tipo}}</span> <br>                    
                                        <span class="font-weight-bold">Descripcion: </span><span class="card-text">{{notificacion.vacante.descripcion}}</span> <br> 
                                       
                                        <hr>
    
                                        <h3 class="card-title text-center"><strong>Requisitos para el cargo</strong> </h3>
                                        <span class="font-weight-bold">Ocupacion: </span> <span>{{notificacion.vacante.requisitos.ocupacion.nombre}}</span> <br>
                                        <span class="font-weight-bold">Años de Experiencia: </span> <span>{{notificacion.vacante.requisitos.experiencia}}</span> <br>
                                        <span class="font-weight-bold">Genero: </span> <span>{{notificacion.vacante.requisitos.genero | genero:notificacion.vacante.requisitos.genero}}</span> <br>
                                        <span class="font-weight-bold">Idiomas: </span> 
                                         <ul>
                                             <li *ngFor="let idioma  of notificacion.vacante.requisitos.idiomas"><span>{{idioma.idioma.nombre}}</span>
                                                <ul>
                                                    <li>Nivel oral: {{idioma.nivel_oral.nombre}}</li>
                                                    <li>Nivel lectura: {{idioma.nivel_lectura.nombre}}</li>
                                                    <li>Nivel escrito: {{idioma.nivel_escrito.nombre}}</li>
                                                </ul>
                                            </li>
                                         </ul>
                                    </div>
                                    
                                  </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-12">
                        
                        <div *ngIf="notificacion && notificacion.vacante.empleador.empresa && notificacion.vacante.empleador.empresa" class="card text-light bg-dark mb-3">
                            <img [src]="notificacion.vacante.empleador.empresa.logo.url" alt="">
                            <div class="card-body">
                              <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Empresa: </span> <span>{{notificacion.vacante.empleador.empresa.nombre}}</span> <br>
                              <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Pais: </span> <span>{{notificacion.vacante.empleador.empresa.ciudad.estado.pais.nombre}} / {{notificacion.vacante.ciudad.estado.nombre}}</span> <br>
                              <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Ciudad: </span> <span>{{notificacion.vacante.empleador.empresa.ciudad.nombre}} / {{notificacion.vacante.empleador.empresa.ciudad.estado.nombre}}</span> <br>
                              <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Direccion: </span> <span>{{notificacion.vacante.empleador.empresa.direccion}}</span> <br>   
                              <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Telefono: </span> <span>{{notificacion.vacante.empleador.empresa.telefono}}</span>  <br>                              
                              <span *ngIf="notificacion.vacante.empleador.empresa" class="font-weight-bold">Descripcion: </span> <span>{{notificacion.vacante.empleador.empresa.descripcion}}</span>  <br> 
                              
                             
                            </div>
            
                        </div>
                        <div *ngIf="notificacion && !notificacion.vacante.empleador.empresa" class="card text-white bg-dark mb-3">
                            <img class="img-responsive" [src]="notificacion.vacante.empleador.imagen.url" alt="">
                            <div class="card-body">  
                                <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Empleador: </span> <span>{{notificacion.vacante.empleador.nombre}}</span> <br>
                                <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Pais: </span> <span>{{notificacion.vacante.empleador.ciudad.estado.pais.nombre}}</span> <br>
                                <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Ciudad: </span> <span>{{notificacion.vacante.empleador.ciudad.nombre}} / {{notificacion.vacante.empleador.ciudad.estado.nombre}}</span> <br>
                                <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Direccion: </span> <span>{{notificacion.vacante.empleador.direccion}}</span> <br>   
                                <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Telefono: </span> <span>{{notificacion.vacante.empleador.telefono}}</span>  <br>                              
                                <span *ngIf="!notificacion.vacante.empleador.empresa" class="font-weight-bold">Email: </span> <span>{{notificacion.vacante.empleador.credenciales.email}}</span>  <br>
                            </div>
                        </div> 
                      
                                 <!--Solicitante no postulante, ni contratado-->
                              <button *ngIf="!contratacion && !postulacion && !ocupado && notificacion.tipo_notificacion.tipo != 'postulacion_rechazada_empleador' && notificacion.tipo_notificacion.tipo != 'postulacion_aceptada'" (click)="postular()" class="btn btn-info btn-block mt-2">Postularme</button>                              <!--Solicitante Aceptado para la vacante pero aun no confirmado-->
                              <button *ngIf="postulacion && postulacion.aceptado && !postulacion.rechazado  && !contratacion" (click)="confirmar()" class="btn btn-success btn-block mt-2">Confirmar</button>                          
                    <!--         <button *ngIf="contratacion && contratacion.habilitado && !contratacion.oculto  && !ocupado "  (click)="rechazar()" class="btn btn-danger btn-lg btn-block mt-2">Rechazar</button>   --> 
                              <button *ngIf="postulacion && postulacion.aceptado  && !postulacion.rechazado  && !contratacion"  (click)="rechazar()" class="btn btn-danger btn-block mt-2">Rechazar</button>  
                              <!--Solicitante postulando para la vacante pero aun no aceptado-->
                              <button  *ngIf="postulacion && !postulacion.aceptado && !postulacion.rechazado" (click)="cancelar()" class="btn btn-danger btn-block mt-2">Cancelar</button>                              <br>

                          

                              <button  routerLink="/postulaciones-solicitante" class="btn btn-info btn-block">Ver postulaciones</button>                              <br>

                        
                          
                    </div>
                </div>
       
               </div>
         </div>
    </div>
  
</div>
