<div class="container-fluid animated fadeIn fast">
    <app-cargando [tamanio]="'col'" *ngIf="cargando"></app-cargando>
    <div class="row animated fadeIn fast">
        <div class="col-12">
            <div class="card">
                <div class="card-body">

                    <h2><span class="badge badge-info">Gestion de Administradores</span></h2>
                    <h6>Total: {{totalAdministradores}} - {{desde}}</h6>

                    
                    <div class="row">
                        <div class="col">
                            <button (click)="mostrarModal('adicionar', 0)"
                            class="btn btn-success">
                                Adicionar
                            </button>
                        </div>
                        <div class="col">
                            <input #txtTermino (keyup)="busqueda(txtTermino.value)" type="text" class="form-control" placeholder="buscar administrador...">
                        </div>
                    </div>                    

                    <br><br>
                    <div class="table-responsive">
                        <table class="table full-color-table full-inverse-table hover-table">
                            <thead>
                                <tr>
                                    <th>Num</th>
                                    <th>Nombre</th>
                                    <th>Genero</th>
                                    <th class="w100 text-center">Estado</th>
                                    <th class="w100 text-center">ver</th>
                                    <th class="w100 text-center">modificar</th>
                                    <th class="w100 text-center">habilitar</th>
                                    <th class="w100 text-center">inhabilitar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let administrador of administradores; let i = index">
                                    <td align="center">
                                        <span >{{desde + i + 1}}</span>
                                    </td>
                                    <td>
                                        {{administrador.nombre}} {{administrador.apellidos}}
                                    </td>
                                    <td>
                                        {{administrador.genero | genero:administrador.genero}}
                                    </td>
                                    <td class="text-center">
                                        <i *ngIf="administrador.habilitado" class="fa  fa-thumbs-up text-info"></i>
                                        <i *ngIf="!administrador.habilitado" class="fa  fa-thumbs-down text-secondary"></i>
                                    </td>
                                    <td class="text-nowrap text-center">
                                        <a class="cursor" (click)="mostrarModal2(administrador.id)"> 
                                            <i class="fa fa-eye m-r-10"></i> 
                                        </a>
                                    </td>
                                    <td class="text-nowrap text-center">
                                        <a class="cursor" (click)="mostrarModal('modificar', administrador.id)"> 
                                                <i class="fa fa-pencil m-r-10"></i> 
                                        </a>
                                    </td>
                                    <td class="text-center">
                                        <a class="cursor" *ngIf="!administrador.habilitado" (click)="habilitar(administrador)"><i class="fa fa-thumbs-o-up"></i></a>
                                        <span *ngIf="administrador.habilitado"><i class="fa fa-minus"></i></span>
                                    </td>
                                    <td class="text-nowrap text-center">
                                        <span *ngIf="!administrador.habilitado || administrador.id === this.loginService.administrador.id"><i class="fa fa-minus"></i></span>
                                        <a *ngIf="administrador.habilitado && administrador.id != this.loginService.administrador.id" (click)="inhabilitar(administrador)" class="cursor" data-toggle="tooltip" data-original-title="Inhabilitar"><i class="fa fa-thumbs-o-down"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="text-center" *ngIf="txtTermino.value.length ===0">
                        <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button> 
                        &nbsp;
                        <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

 
</div>


<app-formulario-administrador *ngIf="myModal" [visible]="myModal" 
                                              [idAdministrador]= "idAdministrador" 
                                              [tipoOperacion]="tipoOperacion" 
                                              (cerrar)="cerrarModal($event)"
                                              (cancelar)="cancelarModal($event)">
</app-formulario-administrador>
<app-ver-administrador *ngIf="myModal2" [visible]="myModal2" 
                                        [idAdministrador]= "idAdministrador" 
                                        (cerrar)="cerrarModal2($event)">
</app-ver-administrador>


