
<ul>
    <li>
        <div class="drop-title">Notificaciones recientes</div>
    </li>
    <li >
        <div class="message-center notificacion">
            <div [class.no-leido]="!notificacion.leido" *ngFor="let notificacion of notificaciones">
                <!-- Message -->
                <a  (click)="leerNotificacion(notificacion.id, notificacion.leido,notificacion.tipo_notificacion.tipo)" class="cursor" >
                    <div class="btn" *ngIf="!notificacion.leido"><i class="fa fa-circle"></i></div>
                    <div  class="mail-contnet ">
                        <h5 *ngIf="notificacion.tipo_notificacion.tipo === 'postulacion_aceptada'">Ha sido aceptado para {{notificacion.vacante.titulo}} </h5>
                        <h5 *ngIf="notificacion.tipo_notificacion.tipo === 'postulacion_rechazada_empleador'">Ha sido rechazado para {{notificacion.vacante.titulo}} </h5>
                        <h5 *ngIf="notificacion.tipo_notificacion.tipo === 'desvinculacion_solicitante'">Su contrato  para {{notificacion.vacante.titulo}} ha terminado</h5>
                        <h5 *ngIf="notificacion.tipo_notificacion.tipo === 'invitacion_postulacion'">Ha sido invitado a postular para {{notificacion.vacante.titulo}} </h5>

                            <span  class="mail-desc text-right">empleador: {{notificacion.vacante.empleador.nombre}}</span>
                            <span class="mail-desc text-right">ocupacion: {{notificacion.vacante.requisitos.ocupacion.nombre}}</span>  
                            <span class="time text-right">{{notificacion.creado_en | date: 'mediumDate'}} {{notificacion.creado_en | date: 'shortTime'}}</span> 
                    </div>
                </a>
                <!-- Message -->
            </div>
            
        </div>
    </li>
    
    <li>
        <a class="nav-link text-center" routerLink="/notificaciones-solicitante"> <strong>Ver todas las notificaciones</strong></a>
    </li>
   
</ul>