<div class="container-fluid animated fadeIn fast" *ngIf="!myModal">
    <div class="row">
        <div class="col-12">
            <div class="card" id="4">
                <div class="card-header">
                    <h2><span class="badge badge-info">Referencias</span></h2>
                    
                    <h6>Total: {{totalReferencias}} - {{desde}}</h6> 
                </div>
                <div class="card-body">
                    <div class="row animated fadeIn fast" *ngIf="cargando">
                        <div class="col-12">
                            <div class="alert alert-info text-center">
                                <h4>Cargando...</h4> 
                                <i class="fa fa-spin fa-refresh fa-2x"></i>
                                <p class="mb-0">Por favor espere</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button (click)="mostrarModal('adicionar', 0)"
                            class="btn btn-success">
                                Adicionar 
                    </button>
                    <br><br>
                    <div class="table-responsive">
                        <table class="table full-color-table full-inverse-table hover-table">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Empresa</th>
                                    <th>Cargo</th>
                                    <th>Telefono</th>
                                    <th class="w100">Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let referencia of referencias">
                                    <td> 
                                        {{referencia.nombre}}
                                    </td>
                                    <td> 
                                        {{referencia.apellidos}}
                                    </td>
                                    <td> 
                                        {{referencia.empresa}}
                                    </td>
                                    <td> 
                                        {{referencia.cargo}}
                                    </td>
                                    <td> 
                                        {{referencia.telefono}}
                                    </td>
                                    <td class="text-nowrap text-center">
                                        <a class="cursor" (click)="mostrarModal2(referencia.id)"> 
                                            <i class="fa fa-eye  m-r-10"></i> 
                                        </a>
                                        <a class="cursor" (click)="mostrarModal('modificar', referencia.id)" > 
                                                <i class="fa fa-pencil m-r-10"></i> 
                                        </a>
                                        <a (click)="eliminar(referencia.id)" class="cursor" data-toggle="tooltip" data-original-title="Eliminar"><i class="fa fa-trash-o m-r-10 text-info"></i></a>
                                    
                                    </td>
                                </tr>
                            </tbody> 
                        </table>
                    </div>
                    <div class="text-center">
                        <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button> 
                        &nbsp;
                        <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>


<app-formulario-referencia *ngIf="myModal" [visible]="myModal" 
                                                    [idCurriculum]= "idCurriculum" 
                                                    [idReferencia]= "idReferencia" 
                                                    [tipoOperacion]="tipoOperacion" 
                                                    (cerrar)="cerrarModal($event)"
                                                    (cancelar)="cancelarModal($event)">
</app-formulario-referencia>

<app-ver-referencia *ngIf="myModal2" [visible]="myModal2" 
                                      [idReferencia] = "idReferencia"
                                      (cerrar)="cerrarModal2($event)">
</app-ver-referencia>