<div class="row">
    <div class="col-12">
        <button *ngIf="tipoOperacion === 'postulacion' && postulacion && !postulacion.aceptado && !postulacion.rechazado" (click)="contratar()" class="btn btn-success btn-block">Contratar</button>
        <button *ngIf="tipoOperacion === 'postulacion' && postulacion && !postulacion.rechazado && !postulacion.aceptado" (click)="rechazar()" class="btn btn-danger btn-block">Rechazar</button>
        <button *ngIf="contratacion && tipoOperacion === 'contratacion' && contratacion.habilitado" (click)="terminar()" class="btn btn-danger btn-block">Terminar</button>

        
        <button *ngIf="tipoOperacion === 'postulacion' && postulacion && !postulacion.aceptado && postulacion.rechazado" (click)="contratar()" class="btn btn-success btn-block">Contratar</button>
        <button *ngIf="tipoOperacion === 'postulacion' && postulacion && !postulacion.rechazado && postulacion.aceptado" (click)="rechazarConsiderado()" class="btn btn-danger btn-block">Rechazar</button>
   </div>
</div>
