<div class="container">
    <div class="row justify-content-center animated fadeIn fast">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form *ngIf="cargarformulario" class="form p-t-20" 
                            [formGroup]="ocupacionForm">  
                        <div class="form-group">
                            <label for="exampleInputuname">Nombres:</label>
                            <input [class.is-invalid]="campoNoValido('nombre')" formControlName="nombre" class="form-control" type="text" placeholder="Nombre">
                            <small *ngIf="campoNoValido('nombre')" class="form-control-feedback text-danger">El nombre es obligatorio </small>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Grupo Ocupacional</label>
                            <select [class.is-invalid]="selectNoValido('id_grupo_ocupacional')" formControlName="id_grupo_ocupacional" class="form-control custom-select">
                                <option *ngIf="tipo==='adicionar'" value="0">Seleccionar</option>
                                <option *ngFor="let grupo of grupos_ocupacionales" [value]="grupo.id">{{grupo.nombre}}</option>
                            </select>
                            <small *ngIf="selectNoValido('id_grupo_ocupacional')" class="form-control-feedback text-danger">Seleccione una area laboral</small> 
                        </div>                
                        <div class="form-group">
                            <label for="exampleInputuname">Habilitado</label>
                            
                            <select formControlName="habilitado" class="form-control custom-select">
                                <option value="true">verdadero</option>
                                <option value="false">falso</option>
                            </select>
                            
                        </div>
                        <div class="text-center">
                            <button  (click)="guardar()" type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            &nbsp;
                            <button  routerLink="/profesion" type="button" class="btn btn-inverse">Cancelar</button>
                        </div>
                          
                </form>
                </div>
            </div>  
        </div>
      </div>
    
</div>
