<div class="modal" *ngIf="visible">
    <div class="row container-modal justify-content-center animated fadeIn fast" *ngIf="cargando">
        <div class="col-xl-7 col-lg-10  col-md-10 col-sm-12">
            <div class="alert alert-info text-center">
                <h4>Cargando...</h4> 
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Por favor espere</p>
            </div>
        </div>
    </div>
    <div class="row container-modal justify-content-center">
            <div class="col-xl-7 col-lg-10  col-md-10 col-sm-12">
               <div class="card bg-dark animated fadeIn fast">
                   <div class="card-header pt-0 pb-0 header-modal">
                    <div class="row justify-content-end">
                        <div class="col-1 pr-0">
                          <a class="cursor float-right" (click)="cerrarModalPadre()"><i class="fa fa-window-close  cerrar"></i></a>
                       </div>
                    </div>
                  </div>
                 
                   <div class="card-body " *ngIf="notificacion">
                   
                    <div class="alert alert-danger text-center" role="alert" *ngIf="notificacionEliminada">
                        La notificacion a sido eliminada 
                    </div>
                   <div class="card bg-dark animated fadeIn fast" *ngIf="notificacion">
                       <div class="card-body " >
    

                        
                        <div class="row animated fadeIn fast">
                            <div class="col-lg-7 col-md-7 col-sm-12">
                                <div class="row">
                                    <div class="col">
                                        <div class="card mb-3">
                                            <div class="card-body">
                                                <h3 *ngIf="notificacion.tipo_notificacion.tipo === 'nueva_postulacion'" class="card-title text-center">
                                                    <strong>Tiene un nuevo postulante para la vacante: {{notificacion.vacante.titulo}}</strong>
                                                </h3>
                                                <h3 *ngIf="notificacion.tipo_notificacion.tipo === 'postulacion_confirmada'" class="card-title text-center">
                                                    <strong>Postulante confirmado para la vacante: {{notificacion.vacante.titulo}}</strong>
                                                </h3>
                                                <h3 *ngIf="notificacion.tipo_notificacion.tipo === 'postulacion_rechazada_solicitante'" class="card-title text-center">
                                                    <strong>El Postulante rechazo su contratación para la vacante: {{notificacion.vacante.titulo}}</strong>
                                                </h3>
                                                <span class="font-weight-bold">Sueldo: </span> {{notificacion.vacante.sueldo.sueldo}} <br>
                                                <span class="font-weight-bold">Periodo de pago: </span> {{notificacion.vacante.periodo_pago.periodo}}<br>
                                                <span class="font-weight-bold">Tipo de Contrato: </span> {{notificacion.vacante.tipo_contrato.tipo}} <br>
                                                <span class="font-weight-bold">Tipo de Jornada: </span> {{notificacion.vacante.tipo_jornada.tipo}} <br>
                                                <span class="font-weight-bold">Horario: </span> {{notificacion.vacante.horario.nombre}} <br>
                                                <span class="font-weight-bold">Fecha de publicacion: </span> <span>{{notificacion.vacante.creado_en | date: 'longDate'}}</span> <br>  
                                                <span class="font-weight-bold">Vacantes Disponibles: </span> <span>{{notificacion.vacante.num_disponibles}}</span> <br>  
                                                <span class="font-weight-bold">Direccion: </span> <span>{{notificacion.vacante.direccion}}</span> <br>                          
                                                <span class="font-weight-bold">Pais: </span> <span>{{notificacion.vacante.ciudad.estado.pais.nombre}}</span> <br>
                                                <span class="font-weight-bold">Ciudad: </span> <span>{{notificacion.vacante.ciudad.nombre}} / {{notificacion.vacante.ciudad.estado.nombre}}</span> <br>
                                                <span class="font-weight-bold">Descripcion: </span> <span>{{notificacion.vacante.descripcion}}</span> <br>  
                                               
                                                <hr>
            
                                                <h3 class="card-title text-center"><strong>Requisitos para el cargo</strong> </h3>
                                                <span class="font-weight-bold">Ocupacion: </span> <span>{{notificacion.vacante.requisitos.ocupacion.nombre}}</span> <br>
                                                <span class="font-weight-bold">Años de Experiencia: </span> <span>{{notificacion.vacante.requisitos.experiencia}}</span> <br>
                                                <span class="font-weight-bold">Genero: </span> <span>{{notificacion.vacante.requisitos.genero | genero:notificacion.vacante.requisitos.genero}}</span> <br>
                                                <span class="font-weight-bold">Idiomas: </span> 
                                                 <ul>
                                                     <li *ngFor="let idioma  of notificacion.vacante.requisitos.idiomas"><span>{{idioma.idioma.nombre}}</span>
                                                        <ul>
                                                            <li>Nivel oral: {{idioma.nivel_oral.nombre}}</li>
                                                            <li>Nivel lectura: {{idioma.nivel_lectura.nombre}}</li>
                                                            <li>Nivel escrito: {{idioma.nivel_escrito.nombre}}</li>
                                                        </ul>
                                                    </li>
                                                 </ul>
                                            </div>
                                             
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-12">
                            
                                <div class="card text-white bg-dark mb-3">
                                    <img class="img-responsive" [src]="notificacion.solicitante.imagen.url" alt="">
                                    <div class="card-body">  
                                        <span class="font-weight-bold">Postulante: </span> <span>{{notificacion.solicitante.nombre}} {{notificacion.solicitante.apellidos}}</span> <br>
                                        <span class="font-weight-bold">Edad: </span> <span>{{notificacion.solicitante.fecha_nac | fechanac:notificacion.solicitante.fecha_nac}}</span> <br>
                                        <span class="font-weight-bold">Telefono: </span> <span>{{notificacion.solicitante.telefono}}</span> <br>
                                        <span class="font-weight-bold">Cedula: </span> <span>{{notificacion.solicitante.cedula}}{{notificacion.solicitante.num_complemento_ci}}</span> <br>
                                        <span class="font-weight-bold">Correo electronico: </span> <span>{{notificacion.solicitante.credenciales.email}}</span> <br>
                                        <span class="font-weight-bold">Nacionalidad: </span> <span>{{notificacion.solicitante.nacionalidad}}</span> <br>
                                        <span class="font-weight-bold">Pais de residencia: </span> <span>{{notificacion.solicitante.ciudad.estado.pais.nombre}}</span> <br>
                                        <span class="font-weight-bold">Ciudad de residencia: </span> <span>{{notificacion.solicitante.ciudad.nombre}} - {{notificacion.solicitante.ciudad.estado.nombre}}</span> <br>
                                        <span class="font-weight-bold">Direccion: </span> <span>{{notificacion.solicitante.direccion}}</span> <br>
                                        <span class="font-weight-bold">Genero: </span> <span>{{notificacion.solicitante.genero | genero:notificacion.solicitante.genero}}</span> <br>
                                        <span class="font-weight-bold">Ocupaciones : </span> 
                                        <ul>
                                            <li *ngFor="let ocupacion of notificacion.solicitante.ocupaciones" >{{ocupacion.ocupacion.nombre}}</li>
                                        </ul>

                                        <div class="row">
                                            <div class="col">
                                                <div class="alert alert-info text-center" role="alert" *ngIf="!postulacion && !contratacion">
                                                    La postulacion a sido cancelada o eliminada
                                                </div>
                                                <div class="alert alert-info text-center" role="alert" *ngIf="postulacion && postulacion.aceptado && !postulacion.rechazado">
                                                    El postulante ya fue considerado! 
                                                    <button routerLink="/postulaciones-empleador"   class="btn btn-info btn-block mt-2">postulantes considerados</button>

                                                </div>
                                                <div class="alert alert-info text-center" role="alert" *ngIf="postulacion && !postulacion.aceptado && postulacion.rechazado">
                                                    El postulante fue rechazado!
                                                    <button routerLink="/postulantes-rechazados-empleador"  class="btn btn-info btn-block mt-2">postulantes rechazados</button>
                                                </div>
                                                <div class="alert alert-info text-center" role="alert" *ngIf="postulacion && !postulacion.aceptado && !postulacion.rechazado">
                                                    Tiene un nuevo Postulante !
                                                    <button routerLink="/postulantes-pendientes" class="btn btn-info btn-block mt-2">postulantes pendientes</button>
                                                </div>
                                                <div class="alert alert-info text-center" role="alert" *ngIf="(postulacion && postulacion.rechazado && postulacion.aceptado)">
                                                    El postulante a rechazado la vacante !
                                                    <button routerLink="/postulantes-rechazados-empleador"  class="btn btn-info btn-block mt-2">postulantes rechazados</button>
                                                </div>
                
                                                <div class="alert alert-info text-center" role="alert" *ngIf="contratacion && !contratacion.habilitado">
                                                    La contratacion ha sido terminada 
                                                    <button routerLink="/contrataciones-empleador"  class="btn btn-info btn-block mt-2">contrataciones</button>
                                                </div>
                                                <div class="alert alert-info text-center" role="alert" *ngIf="contratacion && contratacion.habilitado">
                                                    Tiene un postulante confirmado !
                                                    <button routerLink="/contrataciones-empleador"  class="btn btn-info btn-block mt-2">contrataciones</button>
                                                </div>
                                            </div>
                                            
                                        </div>
                                        <button (click)="mostrarModal()" class="btn btn-success btn-block mt-2">Curriculum</button>                                                      
                                        
                                    </div>
                                </div> 
                            </div>
                        </div>
               
                       </div>
                   </div>
                   </div>
               </div>

            </div>
        </div>
      
</div> 


<app-vista-completo *ngIf="myModal && postulacion" [visible]="myModal" 
                                                    [idSolicitante]= "notificacion.solicitante.id" 
                                                    [tipoOperacion]="'postulacion'" 
                                                    [idOperacion] = "postulacion.id"
                                                    (cerrar)="cerrarModal($event)"
                                                    (cancelar)="cancelarModal($event)"
                                                    >
</app-vista-completo>
<!--Mostrar el curriculum cuando no hay una postulacion registrada-->
<app-vista-completo *ngIf="myModal && !postulacion" [visible]="myModal" 
                                                    [idSolicitante]= "notificacion.solicitante.id" 
                                                    [tipoOperacion]="'postulacion'" 
                                                    [idOperacion] = "0"
                                                    (cerrar)="cerrarModal($event)"
                                                    (cancelar)="cancelarModal($event)"
                                                    >
</app-vista-completo>