<div class="row">
    <div class="col-lg-7">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Datos Personales</h3>
                <form *ngIf="cargarformulario" class="form p-t-20" 
                        [formGroup]="perfilForm"
                        (ngSubmit)="guardar()">
                    <div class="form-group">
                        <label for="exampleInputuname">Nombres</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input formControlName="nombre" class="form-control" type="text" placeholder="Nombres">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Apellidos</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input formControlName="apellidos" class="form-control" type="text"  placeholder="Apellidos">
                          
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Telefono</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input  formControlName="telefono" type="text" class="form-control" placeholder="Telefono">
            
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Cedula</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <input formControlName="cedula" type="text" class="form-control" placeholder="Cedula">
                                  
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Genero</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <select formControlName="genero" class="form-control custom-select">
                                <option value="M">Masculino</option>
                                <option value="F">Fememino</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputuname">Habilitado</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-user"></i></div>
                            <select formControlName="habilitado" class="form-control custom-select">
                                <option value="true">verdadero</option>
                                <option value="false">falso</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Correo electronico</label>
                        <div class="input-group">
                            <div class="input-group-addon"><i class="ti-email"></i></div>
                            <input formControlName="email" class="form-control" type="email"  placeholder="Email">
                          
                        </div>
                    </div>
                    <button [disabled]="perfilForm.invalid" type="submit" class="btn btn-success waves-effect waves-light">
                        <i class="fa fa-save"></i>
                        Guardar
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div *ngIf="cargarformulario" class="col-lg-5">
        <div class="card">
            <div class="card-body" align="center">
                <h4 class="card-title">Fotografia del usuario</h4>

                <img *ngIf="!imagenTemp" [src]="administrador.imagen.url" width="500px" class="w150">
                <img *ngIf="imagenTemp" [src]="imagenTemp"  class="w150" width="500px">
                <input (change)="seleccionImagen( $event.target.files[0] )" type="file">
                <br>
                <br>
                <button (click)="cambiarImagen()" [disabled]="!imagenSubir" type="button" class="btn btn-success waves-effect waves-light m-r-10">
                    <i class="fa fa-save"></i>
                    Actualizar foto
                </button>
                <br>
                <br>
                <div *ngIf="cargando" class="alert alert-info text-center animated fadeIn fast">
                    <h4>Subiendo imagen...</h4>
                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                    <p class="mb-0">Por favor espere</p>
                </div>
               
            </div>
        </div>
    </div>
</div>

