<div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title text-center">Datos Personales</h3>
                    <form *ngIf="cargarformulario" class="form p-t-20" 
                            [formGroup]="perfilForm"
                            (ngSubmit)="guardar()">
                        <div class="form-group">
                            <label for="exampleInputuname">Nombres</label>
                            <input formControlName="nombre" class="form-control" type="text" placeholder="Nombres">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputuname">Apellidos</label>
                            <input formControlName="apellidos" class="form-control" type="text"  placeholder="Apellidos">                             
                        </div>
                        <div class="form-group">
                            <label for="exampleInputuname">Telefono</label>
                            <input  formControlName="telefono" type="text" class="form-control" placeholder="Telefono">               
                        </div>
                        <div class="form-group">
                            <label for="exampleInputuname">Cedula</label>
                            <input formControlName="cedula" type="text" class="form-control" placeholder="Cedula">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputuname">Genero</label>
                            <select formControlName="genero" class="form-control custom-select">
                                <option value="M">Masculino</option>
                                <option value="F">Fememino</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputuname">Habilitado</label>
                            <select formControlName="habilitado" class="form-control custom-select">
                                <option value="true">verdadero</option>
                                <option value="false">falso</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Correo electronico</label>
                            <input formControlName="email" class="form-control" type="email"  placeholder="Email">
                        </div>
                        <div class="row animated fadeIn fast" *ngIf="cargando">
                            <div class="col-12">
                                <div class="alert alert-info text-center">
                                    <h4>Guardando...</h4>
                                    <i class="fa fa-spin fa-refresh fa-2x"></i>
                                    <p class="mb-0">Por favor espere</p>
                                </div>
                            </div>
                        </div> 
                        <div class="form-actions text-center">
                            <button [disabled]="perfilForm.invalid" type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            &nbsp;
                            <button  routerLink="/dashboard" type="button" class="btn btn-inverse">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


