<div class="login-register" style="background-image:url(../assets/images/background/login-register2.png);">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
                <div class="card mt-3">
                    <div class="card-body">
                        <form  autocomplete="off" 
                               [formGroup]="passwordForm"
                               (ngSubmit)="restablecerPassword()">
                            <div class="form-body"> 
                                <h3 class="card-title text-center">Restablecer Contraseña</h3>
                            
                                <div class="row">
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label class="control-label">Contraseña nueva:</label>
                                            <input [class.is-invalid]="campoNoValido('password')" formControlName="password" class="form-control" type="password"  placeholder="Contraseña Nueva">
                                            <small *ngIf="campoNoValido('password')" class="form-control-feedback text-danger">La contraseña es obligatoria</small>
                                        </div>
                                    </div>
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label class="control-label">Confirmar contraseña:</label>
                                            <input [class.is-invalid]="campoNoValido('password2') || contrasenasNovalidas()" formControlName="password2" class="form-control" type="password"  placeholder="Confirmar Contraseña">
                                            <small *ngIf="campoNoValido('password2')" class="form-control-feedback text-danger">La confirmacion de la contraseña es obligatoria</small>
                                            <small *ngIf="contrasenasNovalidas()" class="form-control-feedback text-danger">Las contraseñas deben ser iguales</small>
                                        </div>
                                    </div>
                                </div>
                                <!--/row-->
        
                            </div>
    
                            <div class="form-actions text-center">
                                <button type="submit" class="btn btn-success"> <i class="fa fa-check"></i> Restablecer</button>
                                &nbsp;
                                <button  routerLink="/login" type="button" class="btn btn-inverse">Cancelar</button>
                            </div>
                            <br>
                            <div class="row animated fadeIn fast" *ngIf="cargando">
                                <div class="col-12">
                                    <div class="alert alert-info text-center">
                                        <h4>Guardando...</h4>
                                        <i class="fa fa-spin fa-refresh fa-2x"></i>
                                        <p class="mb-0">Por favor espere</p>
                                    </div>
                                </div>
                            </div>
                        </form>
                       </div>
                </div>
            </div>
        </div>
            
    </div>
</div>




