
<div class="modal" *ngIf="visible">
    <div class="row container-modal justify-content-center animated fadeIn fast" *ngIf="cargandoModal">
        <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12">
            <div class="alert alert-info text-center">
                <h4>Cargando...</h4> 
                <i class="fa fa-spin fa-refresh fa-2x"></i>
                <p class="mb-0">Por favor espere</p>
            </div>
        </div>
    </div>
    <div class="row container-modal animated fadeIn fast justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12">
          <div class="card rounded">
              <div class="card-header pt-0 pb-0 header-modal">
                    <div class="row justify-content-end">
                        <div class="col-1 pr-0">
                          <a class="cursor float-right" (click)="cancelarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                       </div>
                    </div>
              </div>
              <div class="card-body" >
                  <div class="row" *ngIf="cargando">
                    <div class="col">
                        <div class="alert alert-info text-center">
                            <h4>Cargando...</h4> 
                            <i class="fa fa-spin fa-refresh fa-2x"></i>
                            <p class="mb-0">Por favor espere</p>
                        </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col">
                        <h3 class="text-center font-weight-bold" *ngIf="!siguiente">{{tipoOperacion | titlecase}} Vacante</h3>
                       
                        <form *ngIf="cargarformulario" autocomplete="off" 
                        [formGroup]="vacanteForm">
                               <div *ngIf="!siguiente" class="row p-t-20">
                                   <div class="col-md-12">
                                       <div class="form-group">
                                           <label class="control-label">Título:</label>
                                           <input [class.is-invalid]="campoNoValido('titulo')" formControlName="titulo" class="form-control" type="text" placeholder="Título" maxlength="100">
                                           <small *ngIf="campoNoValido('titulo')" class="form-control-feedback text-danger">El título es obligatorio </small>
                                       </div>
                                   </div>
                               </div>
                               <div *ngIf="!siguiente" class="row p-t-20">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Sueldo:</label>
                                        <select [class.is-invalid]="campoNoValido('id_sueldo')" formControlName="id_sueldo" class="form-control custom-select">
                                            <option *ngIf="tipoOperacion==='adicionar'" value="0">Seleccionar</option>
                                            <option *ngFor="let sueldo of sueldos" [value]="sueldo.id">{{sueldo.sueldo}}</option>
                                        </select>
                                        <small *ngIf="campoNoValido('id_sueldo')" class="form-control-feedback text-danger">Seleccione un sueldo</small> 
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Periodo de pago:</label>
                                        <select [class.is-invalid]="campoNoValido('id_periodo_pago')" formControlName="id_periodo_pago" class="form-control custom-select">
                                            <option *ngIf="tipoOperacion==='adicionar'" value="0">Seleccionar</option>
                                            <option *ngFor="let periodo of periodosPago" [value]="periodo.id">{{periodo.periodo}}</option>
                                        </select>
                                        <small *ngIf="campoNoValido('id_periodo_pago')" class="form-control-feedback text-danger">Seleccione un periodo de pago</small> 
                                    </div>
                                </div>
                                <!--/span-->
                               </div>
                               <div class="row" *ngIf="!siguiente">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Tipo de Contrato:</label>
                                            <select [class.is-invalid]="campoNoValido('id_tipo_contrato')" formControlName="id_tipo_contrato" class="form-control custom-select">
                                                <option *ngIf="tipoOperacion==='adicionar'" value="0">Seleccionar</option>
                                                <option *ngFor="let tipo of tipoContratos" [value]="tipo.id">{{tipo.tipo}}</option>
                                            </select>
                                            <small *ngIf="campoNoValido('id_tipo_contrato')" class="form-control-feedback text-danger">Seleccione un tipo Contrato</small> 
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="control-label">Tipo de Jornada:</label>
                                            <select [class.is-invalid]="campoNoValido('id_tipo_jornada')" formControlName="id_tipo_jornada" class="form-control custom-select">
                                                <option *ngIf="tipoOperacion==='adicionar'" value="0">Seleccionar</option>
                                                <option *ngFor="let tipo of tipoJornadas" [value]="tipo.id">{{tipo.tipo}}</option>
                                            </select>
                                            <small *ngIf="campoNoValido('id_tipo_jornada')" class="form-control-feedback text-danger">Seleccione un tipo de jornada laboral</small> 
                                        </div>
                                    </div>
                               </div>
                               <div class="row" *ngIf="!siguiente">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label class="control-label">Horario:</label>
                                            <select [class.is-invalid]="campoNoValido('id_horario')" formControlName="id_horario" class="form-control custom-select">
                                                <option *ngIf="tipoOperacion==='adicionar'" value="0">Seleccionar</option>
                                                <option *ngFor="let horario of horarios" [value]="horario.id">{{horario.nombre}}</option>
                                            </select>
                                            <small *ngIf="campoNoValido('id_horario')" class="form-control-feedback text-danger">Seleccione un horario</small> 
                                        </div>
                                    </div>
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label class="control-label">Dirección:</label>
                                           <input [class.is-invalid]="campoNoValido('direccion')" formControlName="direccion" class="form-control" type="email"  placeholder="Dirección" maxlength="45">
                                           <small *ngIf="campoNoValido('direccion')" class="form-control-feedback text-danger">La dirección es Obligatoria </small>
                                       </div>
                                   </div>
                                  
                               </div>
                               <!--/row-->
                               <div class="row" *ngIf="!siguiente">
                                    <div class="col-md-12 ">
                                        <div class="form-group">
                                            <label class="control-label">Descripción:</label>
                                            <textarea [class.is-invalid]="campoNoValido('descripcion')" formControlName="descripcion" class="form-control rounded-0" id="exampleFormControlTextarea1" rows="3" maxlength="255"></textarea>
                                            <small *ngIf="campoNoValido('descripcion')" class="form-control-feedback text-danger">La Descripción es Obligatoria</small>
                                        </div>
                                    </div>                         
                               </div>
        
                               <div class="row" *ngIf="!siguiente">
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label>País</label>   
                                           <ng-select 
                                                      notFoundText = "Pais no encontrado"
                                                      placeholder="Seleccionar País"
                                                      [clearable] = "false"
                                                      appendTo="body"
                                                      formControlName="id_pais"
                                                      (change)="filtrarCiudades()">
                                                      <ng-option [value]= "pais.id" *ngFor="let pais of paises">
                                                       {{pais.nombre}}
                                                     </ng-option>
                                           </ng-select>
                                           <small *ngIf="campoNoValido('id_pais')" class="form-control-feedback text-danger">Seleccione un país</small> 
                                       </div>
                                   </div>
                                   <!--/span-->
                                   <div class="col-md-6">
                                       <div class="form-group">
                                           <label>Ciudad</label>
                                           <ng-select 
                                                      placeholder="Seleccionar Ciudad"
                                                      appendTo="body"
                                                      [clearable] = "false"
                                                      notFoundText = "ciudad no encontrada"
                                                      formControlName="id_ciudad">
                                                      <ng-option [value]= "ciudad.id" *ngFor="let ciudad of ciudades">
                                                        {{ciudad.nombre}} / {{ciudad.estado.nombre}}
                                                      </ng-option>
                                           </ng-select>
                                           <small *ngIf="campoNoValido('id_ciudad')" class="form-control-feedback text-danger">Seleccione una ciudad</small> 
                                      </div>
                                   </div>
                                   <!--/span-->
                               </div>
                               <div class="row" *ngIf="!siguiente">
                                   <div class="col-md-6 ">
                                       <div class="form-group">
                                           <label class="control-label">Número de Vacantes:</label>
                                           <input *ngIf="tipoOperacion=== 'adicionar'" [class.is-invalid]="campoNoValido('num_vacantes')" formControlName="num_vacantes" type="number" min="1" class="form-control" placeholder="Num Vacantes" (keypress)="validacionService.soloNumeros($event)">
                                           <input (keyup)="modificarNumDisponibles()" (change)="modificarNumDisponibles()" *ngIf="tipoOperacion=== 'modificar'" [class.is-invalid]="campoNoValido('num_vacantes')" formControlName="num_vacantes" type="number" min="{{vacante.num_postulantes_aceptados}}" class="form-control" placeholder="Num Vacantes" (keypress)="validacionService.soloNumeros($event)">
                                           <small *ngIf="campoNoValido('num_vacantes') && tipoOperacion=== 'adicionar'" class="form-control-feedback text-danger">El número de Vacantes es obligatorio, debe ser mayor a cero.</small> 
                                           <small *ngIf="campoNoValido('num_vacantes') && tipoOperacion=== 'modificar'" class="form-control-feedback text-danger">El número de Vacantes es obligatorio, debe ser mayor o igual al número de postulantes aceptados</small> 
        
                                       </div>
                                   </div>
                                   <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="exampleInputuname">Habilitar publicación</label>
                                        <select formControlName="habilitado" class="form-control custom-select">
                                            <option value="true">Habilitar</option>
                                            <option value="false">Inhabilitar</option>
                                        </select>
                                    </div>
                                    </div>
        
                               </div>
                               <div class="row" *ngIf="tipoOperacion=== 'modificar' && !siguiente">
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label class="control-label">Número de Vacantes Disponibles:</label>
                                            <input formControlName="num_disponibles" type="number" min="1" class="form-control" (keypress)="validacionService.soloNumeros($event)">
                                        </div>
                                    </div>
                                    <div class="col-md-6 ">
                                        <div class="form-group">
                                            <label class="control-label">Número de postulantes aceptados:</label>
                                            <input formControlName="num_postulantes_aceptados" type="number" min="1" class="form-control" (keypress)="validacionService.soloNumeros($event)">
                                        </div>
                                    </div>
                               </div>       
                            
                         
                           <div class="form-actions text-center" *ngIf="!siguiente">
                            <button (click)="siguienteFormulario()"  class="btn btn-success"> <i class="fa fa-check"></i> Siguiente</button>
                            &nbsp;
                            <button  (click)="cancelarModal()" type="button" class="btn btn-inverse">Cancelar</button>
                            </div>
                        </form>
                        <form *ngIf="cargarformulario" autocomplete="off" 
                        [formGroup]="requisitosForm">   
                            <div class="row" *ngIf="siguiente">
                                <div class="col-md-12 ">
                                    <h3 class="text-center font-weight-bold">Requisitos del Solicitante</h3>
                                    
                                </div>
                            </div>
                            <div class="row" *ngIf="siguiente">
                                <div class="col-md-12">
                                        <div class="form-group">
                                            <label class="control-label">Ocupación:</label>
                                            <ng-select id="id_ocupacion" [items]="ocupaciones" 
                                            placeholder="Seleccionar una ocupación"
                                            [clearable] = "false"
                                            bindLabel="nombre"
                                            notFoundText = "Ocupación no encontrada" 
                                            bindValue="id" 
                                            formControlName="id_ocupacion">
                                            </ng-select>
                                        <small *ngIf="campoNoValido2('id_ocupacion')" class="form-control-feedback text-danger">Seleccione almenos una ocupación</small> 
        
                                    </div>
                                </div>
                            </div>
                            <div class="row" *ngIf="siguiente">
        
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Experiencia (años):</label>
                                        <input [class.is-invalid]="campoNoValido2('experiencia')" formControlName="experiencia" type="number" min="0" class="form-control" placeholder="Experiencia" (keypress)="validacionService.soloNumeros($event)">
                                        <small *ngIf="campoNoValido2('experiencia')" class="form-control-feedback text-danger">La Experiencia es obligatoria</small> 
                                    </div>
                                </div>
                                <div class="col-md-6">
                                 <div class="form-group">
                                     <label class="control-label">Género</label>
                                     <select [class.is-invalid]="campoNoValido2('genero')" formControlName="genero" class="form-control custom-select">
                                         <option value="seleccionar">Seleccionar</option>
                                         <option value="M">Masculino</option>
                                         <option value="F">Fememino</option>
                                     </select>
                                     <small *ngIf="campoNoValido2('genero')" class="form-control-feedback text-danger">Seleccione un género</small> 
                                 </div>
                                </div>
                            </div> 
                            <div class="row" *ngIf="siguiente">
                             <div class="col-md-12">
                                <label class="control-label">Idiomas:         <button class="btn btn-success btn-sm" (click)="mostrarModal()"><i class="fa fa-plus"></i></button>
                                </label>
                                <br>
                                <small *ngIf="idiomasSeleccionados.length < 1" class="form-control-feedback text-danger">Seleccione al menos un idioma</small> 
        
                                <div class="table-responsive">
                                    <table class="table">
                                        <tr>
                                            <th>Idioma</th>
                                            <th>Nivel Oral</th>
                                            <th>Nivel Lectura</th>
                                            <th>Nivel Escrito</th>
                                            <th>Operaciones</th>
                                        </tr>
                                        <tr *ngFor="let idioma of idiomasSeleccionados">
                                            <td>{{idioma.idioma.nombre}}</td>
                                            <td>{{idioma.nivel_oral.nombre}}</td>
                                            <td>{{idioma.nivel_lectura.nombre}}</td>
                                            <td>{{idioma.nivel_escrito.nombre}}</td>
                                            <td><button (click)="eliminarIdioma(idioma)"  class="btn btn-danger btn-sm">Eliminar</button></td>
                                        </tr>
                                    </table>
                                </div>
        
                             </div>
                           </div>
                          
                           <div class="form-actions text-center" *ngIf="siguiente">
                               <button (click)="guardar()"  class="btn btn-success"> <i class="fa fa-check"></i> Guardar</button>
                               &nbsp;
                               <button  (click)="siguiente = false" type="button" class="btn btn-inverse">Retornar</button>
                           </div>
                         
                        </form>
                      </div>
                  </div>
  
              </div>

          </div>
      </div>
    </div>
</div> 

<app-idioma-vacante *ngIf="myModal" [visible]="myModal" [idiomasSeleccionados]="idiomasSeleccionados"
                                       (cerrar)="cerrarModal2($event)"
                                       (guardarIdioma)="guardarIdioma($event)">
</app-idioma-vacante>