<div class="container-fluid animated fadeIn fast" *ngIf="!myModal">
    <div class="row">
        <div class="col-12">
            <div class="card" id="4">
                <div class="card-header">
                    <h2><span class="badge badge-info">Estudios Avanzados</span></h2>
                    
                    <h6>Total: {{totalEstudios}} - {{desde}}</h6> 
                </div>
                <div class="card-body">
                    <div class="row animated fadeIn fast" *ngIf="cargando">
                        <div class="col-12">
                            <div class="alert alert-info text-center">
                                <h4>Cargando...</h4> 
                                <i class="fa fa-spin fa-refresh fa-2x"></i>
                                <p class="mb-0">Por favor espere</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button (click)="mostrarModal('adicionar', 0)"
                            class="btn btn-success">
                                Adicionar 
                    </button>
                    <br><br>
                    <div class="table-responsive">
                        <table class="table full-color-table full-inverse-table hover-table">
                            <thead>
                                <tr>
                                    <th>Institucion</th>
                                    <th>Carrera/ Curso/ Seminario</th>
                                    <th>Fecha Inicio</th>
                                    <th>Fecha fin</th>
                                    <th>Pais</th>
                                    <th>Estado/Departamento</th>
                                    <th>Ciudad</th>
                                    <th>Nivel estudio</th>
                                    <th class="w100">Operaciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let estudio of estudiosAvanzados">
                                    <td> 
                                        {{estudio.institucion}}
                                    </td>
                                    <td> 
                                        {{estudio.carrera}}
                                    </td>
                                    <td> 
                                        {{estudio.fecha_inicio}}
                                    </td>
                                    <td> 
                                        {{estudio.fecha_fin}}
                                    </td>
                                    <td> 
                                        {{estudio.pais.nombre}}
                                    </td>
                                    <td> 
                                        {{estudio.estado}}
                                    </td>
                                    
                                    <td> 
                                        {{estudio.ciudad}}
                                    </td>
                                    <td> 
                                        {{estudio.nivel_estudio.nombre}}
                                    </td>
                                    <td class="text-nowrap text-center">
                                        <a class="cursor" (click)="mostrarModal2(estudio.id)"> 
                                            <i class="fa fa-eye  m-r-10"></i> 
                                        </a>
                                        <a class="cursor" (click)="mostrarModal('modificar', estudio.id)"> 
                                                <i class="fa fa-pencil m-r-10"></i> 
                                        </a>
                                        <a (click)="eliminar(estudio.id)" class="cursor" data-toggle="tooltip" data-original-title="Eliminar"> <i class="fa fa-trash-o m-r-10 text-info"></i> </a>                                    
                                    </td>
                                </tr>
                            </tbody> 
                        </table>
                    </div>
                    <div class="text-center">
                        <button (click)="cambiarPagina(-5)" class="btn btn-secondary">Anterior</button> 
                        &nbsp;
                        <button (click)="cambiarPagina(5)" class="btn btn-secondary">Siguiente</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>
<app-formulario-estudio-avanzado *ngIf="myModal" [visible]="myModal" 
                                               [idCurriculum]= "idCurriculum" 
                                               [idEstudio]= "idEstudio" 
                                               [tipoOperacion]="tipoOperacion" 
                                               (cerrar)="cerrarModal($event)"
                                               (cancelar)="cancelarModal($event)">
</app-formulario-estudio-avanzado>
<app-ver-estudio-avanzado *ngIf="myModal2" [visible]="myModal2" 
                                      [idEstudio] = "idEstudio"
                                      (cerrar)="cerrarModal2($event)">
</app-ver-estudio-avanzado>