<div class="container">
    <div class="row justify-content-center animated fadeIn fast">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form *ngIf="cargarformulario" class="form p-t-20" 
                            [formGroup]="habilidadForm">  
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="exampleInputuname">Habilidad:</label>
                                    <select [class.is-invalid]="selectNoValido('id_habilidad')" formControlName="id_habilidad" class="form-control custom-select">
                                        <option *ngIf="tipo==='adicionar'" value="0">Seleccionar</option>
                                        <option *ngFor="let habilidad of habilidades" value="{{habilidad.id}}">{{habilidad.habilidad}}</option>
                                    </select>
                                    
                                    <small *ngIf="selectNoValido('id_habilidad')" class="form-control-feedback text-danger">Seleccione una habilidad</small> 
    
                                </div>
                            </div>
                        </div>                 
                        <div class="text-center">
                            <button  (click)="guardar()" type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            &nbsp;
                            <button  routerLink="/curriculum/habilidad" type="button" class="btn btn-inverse">Cancelar</button>
                        </div>
                          
                </form>
                </div>
            </div>  
        </div>
      </div>
</div>



