@import "~@ng-select/ng-select/themes/default.theme.css";

ng-select.ng-invalid.ng-touched .ng-select-container {
  border-color: #dc3545;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 0 3px #fde6e8;
}

.cursor {
    cursor: pointer;
}

.w100 {
  width: 100px;  
} 
.w150 {
  width: 200px;  
}  
.w600 {
  width: 600px;  
}  
.oculto {
  display: none;
}  
.form-registro {
    
  background-position: center center;
  height: 100%;
  width: 100%;
  padding: 2% 0;
}

.no-leido {
  background: #F1ECEC;
}
   

/* Modal */
.modal {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
}
.container-modal {
  padding-top: 100px;
  display: flex;
  margin: auto;
  height: 100vh;
  width: 100%;
  overflow-y: auto;

}

.header-modal {
  background: #242a33;
}



/**/
.cerrar:hover {
  color: red;
}

.cerrar {
  color: white;
}