<div class="modal" *ngIf="visible">
    <app-cargando [tamanio]="'col-xl-7 col-lg-8 col-md-10 col-sm-12'" [rowclass]="'row justify-content-center container-modal animated fadeIn fast'" *ngIf="cargandoModal"></app-cargando>

    <div class="row justify-content-center container-modal animated fadeIn fast">
      <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
          <div class="card rounded">

              <div class="card-header pt-0 pb-0 header-modal">
                <div class="row justify-content-end">
                    <div class="col-1 pr-0">
                      <a class="cursor float-right" (click)="cancelarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                   </div>
                </div>
              </div>
              <div class="card-body">
                <app-cargando [tamanio]="'col'" *ngIf="cargando"></app-cargando>
               
                    <h3 class="text-center font-weight-bold">{{tipoOperacion | titlecase}} Administrador</h3>
                    <form *ngIf="cargarformulario" class="form p-t-20" 
                    [formGroup]="adminForm"> 
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Nombres:</label>
                                    <input [class.is-invalid]="campoNoValido('nombre')" formControlName="nombre" class="form-control" type="text" placeholder="Nombres" maxlength="45" (keypress)="validacionService.soloLetras($event)">
                                    <small *ngIf="campoNoValido('nombre')" class="form-control-feedback text-danger">El nombre es obligatorio </small>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Apellidos:</label>
                                    <input [class.is-invalid]="campoNoValido('apellidos')" formControlName="apellidos" class="form-control" type="text"  placeholder="Apellidos" maxlength="60" (keypress)="validacionService.soloLetras($event)">
                                    <small *ngIf="campoNoValido('apellidos')" class="form-control-feedback text-danger">Los apellidos son obligatorios </small>
                                </div>
                            </div>
                        </div>  
                        <div class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Email:</label>
                                    <input [class.is-invalid]="campoNoValido('email')" formControlName="email" class="form-control" type="email"  placeholder="Email" maxlength="50">
                                    <small *ngIf="campoNoValido('email')" class="form-control-feedback text-danger">El email es obligatorio </small><br>
                                    <small *ngIf="email()" class="form-control-feedback text-danger">Ingrese un email válido. Ejemplo: tucorreo@ejemplo.com.</small>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-12 ">
                                <div *ngIf="tipoOperacion==='adicionar'" class="form-group">
                                    <label for="exampleInputuname">Contraseña:</label>
                                    <input [class.is-invalid]="campoNoValido('password')" formControlName="email" formControlName="password" class="form-control" type="password"  placeholder="Password" minlength="8">
                                    <small *ngIf="campoNoValido('password')" class="form-control-feedback text-danger">El password es obligatorio</small><br>
                                    <small *ngIf="minlength()" class="form-control-feedback text-danger">Debe tener un mínimo de 8 caracteres.</small>
                                </div>
                            </div>
                        </div> 
                        <div  *ngIf="tipoOperacion==='adicionar'" class="row">
                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">confirmar Contraseña:</label>
                                    <input [class.is-invalid]="campoNoValido('password2') || contrasenasNovalidas()" formControlName="password2" class="form-control" type="password"  placeholder="Confirmar password">
                                    <small *ngIf="campoNoValido('password2')" class="form-control-feedback text-danger">La confirmación del password es obligatorio</small> <br>
                                    <small *ngIf="contrasenasNovalidas()" class="form-control-feedback text-danger">Las contraseñas deben ser iguales</small>
                                </div> 
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label class="control-label">Género</label>
                                    <select [class.is-invalid]="campoNoValido('genero')" formControlName="genero" class="form-control custom-select">
                                        <option *ngIf="tipoOperacion==='adicionar'" value="seleccionar">Seleccionar</option>
                                        <option value="M">Masculino</option>
                                        <option value="F">Fememino</option>
                                    </select>
                                    <small *ngIf="campoNoValido('genero')" class="form-control-feedback text-danger">Seleccione un género</small> 
                                
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Teléfono:</label>
                                    <input [class.is-invalid]="campoNoValido('telefono')" formControlName="telefono" type="text" class="form-control" placeholder="Teléfono" (keypress)="validacionService.soloNumeros($event)">
                                    <small *ngIf="campoNoValido('telefono')" class="form-control-feedback text-danger">El teléfono es obligatorio</small>
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label for="exampleInputuname">Cédula de identidad:</label>
                                    <input [class.is-invalid]="campoNoValido('cedula')" formControlName="cedula" type="text" class="form-control" placeholder="Cédula de identidad" maxlength="20">
                                    <small *ngIf="campoNoValido('cedula')" class="form-control-feedback text-danger">La cédula de identidad es obligatorio</small> 
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-group">
                                    <label class="control-label">Complemento CI (opcional):</label>
                                    <input [class.is-invalid]="campoNoValido('num_complemento_ci')" formControlName="num_complemento_ci" type="text" class="form-control" placeholder="Complemento CI" maxlength="10">
                                </div>
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label  for="exampleInputEmail1">Dirección</label>
                                    <input [class.is-invalid]="campoNoValido('direccion')" formControlName="direccion" class="form-control" type="text"  placeholder="Dirección" maxlength="45" (keypress)="validacionService.direccion($event)">
                                    <small *ngIf="campoNoValido('direccion')" class="form-control-feedback text-danger">La Direccción es obligatoria</small> 
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">País</label>
                                    <ng-select 
                                          notFoundText = "País no encontrado"
                                          placeholder="Seleccionar País"
                                          [clearable] = "false"
                                          appendTo="body"
                                          formControlName="id_pais">
                                          <ng-option [value]= "pais.id" *ngFor="let pais of paises">
                                           {{pais.nombre}}
                                         </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_pais')" class="form-control-feedback text-danger">Seleccione un país</small> 
                                </div>
                            </div>
                            <!--/span-->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <ng-select 
                                               placeholder="Seleccionar Ciudad"
                                               appendTo="body"
                                               [clearable] = "false"
                                               notFoundText = "ciudad no encontrada"
                                               formControlName="id_ciudad">
                                               <ng-option [value]= "ciudad.id" *ngFor="let ciudad of ciudades">
                                                 {{ciudad.nombre}} / {{ciudad.estado.nombre}}
                                               </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_ciudad')" class="form-control-feedback text-danger">Seleccione una ciudad</small> 
                                </div>
                            </div>
                            <!--/span-->
                        </div>
                        <div class="text-center">
                            <button  (click)="guardar()" type="submit" class="btn btn-success waves-effect waves-light">
                                <i class="fa fa-save"></i>
                                Guardar
                            </button>
                            &nbsp;
                            <button  (click)="cancelarModal()" type="button" class="btn btn-inverse">Cancelar</button>
                        </div>
                  
                    </form>
                
              </div>
          </div>
      </div>
    </div>
</div> 