<div class="modal" *ngIf="visible && !myModal">
    <app-cargando [rowclass]="'row container-modal justify-content-center animated fadeIn fast'" [tamanio]="'col-lg-7  col-md-10 col-sm-12'" *ngIf="cargando"></app-cargando>

    <div *ngIf="!cargando">
        <div class="row container-modal justify-content-center">
            <div class="col-xlg-5 col-lg-7  col-md-10 col-sm-12">
               <div class="card  animated fadeIn fast">
                   <div class="card-header pt-0 pb-0 header-modal">
                    <div class="row justify-content-end">
                        <div class="col-1 pr-0">
                          <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                       </div>
                    </div>
                  </div>
                   <div class="card-body ">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center"><strong>{{solicitante.nombre}} {{solicitante.apellidos}}</strong> </h3>  
                            </div>
                        </div>
                        <div class="row">
                           <div class="col-md-7">
                                <img class="img-responsive rounded" [src]="solicitante.imagen.url" alt="">      
                           </div>
                           <div class="col-md-5">
                            <span class="font-weight-bold">Nombre: </span> <span>{{solicitante.nombre}}</span> <br>
                            <span class="font-weight-bold">Apellidos: </span> <span>{{solicitante.apellidos}}</span> <br>
                            <span class="font-weight-bold">Edad: </span> <span>{{solicitante.fecha_nac | fechanac:solicitante.fecha_nac}}</span> <br>
                            <span class="font-weight-bold">Telefono: </span> <span>{{solicitante.telefono}}</span> <br>
                            <span class="font-weight-bold">Cedula: </span> <span>{{solicitante.cedula}}{{solicitante.num_complemento_ci}}</span> <br>
                            <span class="font-weight-bold">Correo electronico: </span> <span>{{solicitante.credenciales.email}}</span> <br>
                            <span class="font-weight-bold">Nacionalidad: </span> <span>{{solicitante.nacionalidad}}</span> <br>
                            <span class="font-weight-bold">Pais de residencia: </span> <span>{{solicitante.ciudad.estado.pais.nombre}}</span> <br>
                            <span class="font-weight-bold">Ciudad de residencia: </span> <span>{{solicitante.ciudad.nombre}} - {{solicitante.ciudad.estado.nombre}}</span> <br>
                            <span class="font-weight-bold">Direccion: </span> <span>{{solicitante.direccion}}</span> <br>
                            <span class="font-weight-bold">Genero: </span> <span>{{solicitante.genero}}</span> <br>
                            <span class="font-weight-bold">Ocupaciones : </span> 
                            <ul>
                                <li *ngFor="let ocupacion of solicitante.ocupaciones" >{{ocupacion.ocupacion.nombre}}</li>
                            </ul>
                            <span class="font-weight-bold">Se unio en: </span> <span>{{solicitante.creado_en | date: 'mediumDate'}}</span> <br> 
                            <button (click)="mostrarModal(solicitante.id)" class="btn btn-info btn-block">Invitar a Postularse</button>
                            <button (click)="mostrarModalCurriculum(solicitante.id)" class="btn btn-success btn-block">Ver Curriculum</button>

                           </div>
                        </div>                                                        
                   </div>
               </div>

            </div>
        </div>
      
    </div>
</div> 


<app-invitacion-postulacion *ngIf="myModal" [visible]="myModal" 
                                          [idSolicitante]= "idSolicitante" 
                                          (cerrar)="cerrarModal2($event)">
</app-invitacion-postulacion>


<app-vista-completo *ngIf="myModal2" [visible]="myModal2" 
                                                    [idSolicitante]= "solicitante.id" 
                                                    [tipoOperacion]="'invitacion'" 
                                                    [idOperacion] = "0"
                                                    (cerrar)="cerrarModalCurriculum($event)"
                                                    (cancelar)="cancelarModalCurriculum($event)"
                                                    >
</app-vista-completo> 