<div class="modal" *ngIf="visible">
    <app-cargando [rowclass]="'row container-modal justify-content-center animated fadeIn fast'" [tamanio]="'col-xl-7 col-lg-8 col-md-10 col-sm-12'" *ngIf="cargandoModal"></app-cargando>

    <div *ngIf="!cargandoModal" class="row container-modal animated fadeIn fast justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10 col-sm-12">
            <div class="card rounded">
                <div class="card-header pt-0 pb-0 header-modal">
                    <div class="row justify-content-end">
                        <div class="col-1 pr-0">
                          <a class="cursor float-right" (click)="cerrarModal()"><i class="fa fa-window-close  cerrar"></i></a>
                       </div>
                    </div>
                  </div>
                <div class="card-body">
                    <app-cargando [tamanio]="'col-12'" *ngIf="cargando"></app-cargando>
                    <h3 class="text-center font-weight-bold">{{tipoOperacion | titlecase}} Estudio Avanzado</h3>
                  
                    <form  class="form p-t-20" 
                    [formGroup]="estudioForm"> 
                    <div class="form-body">
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Institución</label>
                                    <input [class.is-invalid]="campoNoValido('institucion')" formControlName="institucion" class="form-control" type="text" placeholder="Institución" maxlength="45">
                                    <small *ngIf="campoNoValido('institucion')" class="form-control-feedback text-danger">El nombre de la Institución en obligatorio</small> 
    
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Carrera / curso / seminario</label>
                                    
                                    <input [class.is-invalid]="campoNoValido('carrera')" formControlName="carrera"  type="text" class="form-control" placeholder="Carrera, curso o seminario" maxlength="70">
                                    <small *ngIf="campoNoValido('carrera')" class="form-control-feedback text-danger">La Carrera es obligatoria</small>

                                </div>
                            </div>
                        </div>
                        <div class="row p-t-20">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Fecha de inicio</label>
                                    
                                    <input [class.is-invalid]="campoNoValido('fecha_inicio')" formControlName="fecha_inicio"  type="date" class="form-control" placeholder="dd/mm/yyyy">
                                    <small *ngIf="campoNoValido('fecha_inicio')" class="form-control-feedback text-danger">La fecha de inicio es obligatoria </small>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Fecha de finalización</label>
                                  
                                    <input [class.is-invalid]="campoNoValido('fecha_fin')" formControlName="fecha_fin"  type="date" class="form-control" placeholder="dd/mm/yyyy">
                                    <small *ngIf="campoNoValido('fecha_fin')" class="form-control-feedback text-danger">La fecha de finalización es obligatoria </small>

                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">País</label>
                                    <ng-select 
                                          notFoundText = "País no encontrado"
                                          placeholder="Seleccionar País"
                                          [clearable] = "false"
                                          appendTo="body"
                                          formControlName="id_pais"
                                          (change)="cambiarPais()">
                                          <ng-option [value]= "pais.id" *ngFor="let pais of paises">
                                           {{pais.nombre}}
                                         </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_pais')" class="form-control-feedback text-danger">Seleccione un país</small> 
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="!mostrarCampos">
                                <div class="form-group">
                                    <label>Ciudad</label>
                                    <ng-select 
                                               placeholder="Seleccionar Ciudad"
                                               appendTo="body"
                                               [clearable]="false"
                                               notFoundText = "ciudad no encontrada"
                                               formControlName="id_ciudad">
                                               <ng-option [value]= "ciudad.id" *ngFor="let ciudad of ciudades">
                                                 {{ciudad.nombre}} / {{ciudad.estado.nombre}}
                                               </ng-option>
                                    </ng-select>
                                    <small *ngIf="campoNoValido('id_ciudad')" class="form-control-feedback text-danger">Seleccione una ciudad</small> 
                                </div>
                            </div>
                            <div class="col-md-6" *ngIf="mostrarCampos">
                                <div class="form-group">
                                    <label class="text-white" for="exampleInputuname">Pais:</label>
                                    <input [class.is-invalid]="campoNoValido('pais')" formControlName="pais" class="form-control" type="text" placeholder="Ingrese el nombre del pais" maxlength="20">
                                    <small *ngIf="campoNoValido('pais')" class="form-control-feedback text-danger">El país es obligatorio </small>
                                </div>
                            </div>
                        </div>
                        <div class="row p-t-20" *ngIf="mostrarCampos">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">Estado/departamento:</label>
                                    <input [class.is-invalid]="campoNoValido('estado')" formControlName="estado" class="form-control" type="text" placeholder="Estado" maxlength="20">
                                    <small *ngIf="campoNoValido('estado')" class="form-control-feedback text-danger">El estado es obligatorio </small>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="exampleInputuname">ciudad:</label>
                                    <input [class.is-invalid]="campoNoValido('ciudad')" formControlName="ciudad" class="form-control" type="text" placeholder="Ciudad" maxlength="20">
                                    <small *ngIf="campoNoValido('ciudad')" class="form-control-feedback text-danger">La ciudad es obligatoria </small>
                                </div>
                            </div>
                        </div>
                        <div class="row p-t-20">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="control-label">Nivel de estudio</label>
                                    <select [class.is-invalid]="campoNoValido('id_nivel_estudio')" formControlName="id_nivel_estudio" class="form-control custom-select">
                                        <option *ngIf="tipoOperacion==='adicionar'" value="0">Seleccionar</option>
                                        <option *ngFor="let nivel of niveles" [value]="nivel.id">{{nivel.nombre}}</option>
                                    </select>
                                    <small *ngIf="campoNoValido('id_nivel_estudio')" class="form-control-feedback text-danger">Seleccione un nivel de estudio</small> 
                                </div>
                            </div>
                        </div>
                    </div> 
                                
                    <div class="text-center">
                        <button  (click)="guardar()" type="submit" class="btn btn-success waves-effect waves-light">
                            <i class="fa fa-save"></i>
                            Guardar
                        </button>
                        &nbsp;
                        <button  (click)="cancelarModal()" type="button" class="btn btn-inverse">Cancelar</button>
                    </div>
                  
                 </form>
                </div>
            </div>
        </div>
    </div>
</div> 